In [1]:
import pandas as pd
import numpy as np

In [2]:
airport_path = "/Users/xiaoxiaoren/Documents/sjsu s2 class/257 Machine Learning/project/groupProject/dataset/flight-delays/airports.csv"
airline_path = "/Users/xiaoxiaoren/Documents/sjsu s2 class/257 Machine Learning/project/groupProject/dataset/flight-delays/airlines.csv"
flights_path  ="/Users/xiaoxiaoren/Documents/sjsu s2 class/257 Machine Learning/project/groupProject/dataset/flight-delays/flights.csv"

In [3]:
airports = pd.read_csv(airport_path)

In [4]:
airlines = pd.read_csv(airline_path)

In [5]:
flights = pd.read_csv(flights_path)

/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (7,8) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [6]:
len(flights.columns)

31

In [7]:
missing_df = flights.isnull().sum(axis=0).reset_index()
missing_df.columns = ['variable', 'missing values']
missing_df['filling factor (%)']=(flights.shape[0]-missing_df['missing values'])/flights.shape[0]*100
missing_df.sort_values('filling factor (%)').reset_index(drop = True)

               variable  missing values  filling factor (%)
0   CANCELLATION_REASON         5729195            1.544643
1         WEATHER_DELAY         4755640           18.275040
2         AIRLINE_DELAY         4755640           18.275040
3        SECURITY_DELAY         4755640           18.275040
4      AIR_SYSTEM_DELAY         4755640           18.275040
5   LATE_AIRCRAFT_DELAY         4755640           18.275040
6         ARRIVAL_DELAY          105071           98.194371
7              AIR_TIME          105071           98.194371
8          ELAPSED_TIME          105071           98.194371
9               TAXI_IN           92513           98.410178
10            WHEELS_ON           92513           98.410178
11         ARRIVAL_TIME           92513           98.410178
12             TAXI_OUT           89047           98.469741
13           WHEELS_OFF           89047           98.469741
14       DEPARTURE_TIME           86153           98.519474
15      DEPARTURE_DELAY           86153           98.519474
16          TAIL_NUMBER           14721           99.747022
17       SCHEDULED_TIME               6           99.999897
18                MONTH               0          100.000000
19                  DAY               0          100.000000
20          DAY_OF_WEEK               0          100.000000
21              AIRLINE               0          100.000000
22            CANCELLED               0          100.000000
23  SCHEDULED_DEPARTURE               0          100.000000
24        FLIGHT_NUMBER               0          100.000000
25    SCHEDULED_ARRIVAL               0          100.000000
26  DESTINATION_AIRPORT               0          100.000000
27             DISTANCE               0          100.000000
28       ORIGIN_AIRPORT               0          100.000000
29             DIVERTED               0          100.000000
30                 YEAR               0          100.000000

In [8]:
flights_sfo = flights.drop([ 'DIVERTED','TAXI_OUT',
 'WHEELS_OFF','WHEELS_ON',
 'TAXI_IN',
 'SCHEDULED_ARRIVAL',
 'ARRIVAL_TIME',
 'ARRIVAL_DELAY','CANCELLED',
 'CANCELLATION_REASON',
 'AIR_SYSTEM_DELAY',
 'SECURITY_DELAY',
 'AIRLINE_DELAY',
 'LATE_AIRCRAFT_DELAY',
 'WEATHER_DELAY',
'SCHEDULED_TIME',
 'ELAPSED_TIME',
 'AIR_TIME',
 'DISTANCE',
    'DESTINATION_AIRPORT',
    'DEPARTURE_TIME','TAIL_NUMBER',
                           ], axis=1)

In [9]:
flights_sfo.drop(['FLIGHT_NUMBER'], axis=1, inplace=True)

In [10]:
flights_sfo.columns

Index(['YEAR', 'MONTH', 'DAY', 'DAY_OF_WEEK', 'AIRLINE', 'ORIGIN_AIRPORT',
       'SCHEDULED_DEPARTURE', 'DEPARTURE_DELAY'],
      dtype='object')

In [11]:
flights_sfo = flights_sfo.loc[flights['ORIGIN_AIRPORT'] == 'SFO']
flights_sfo.head(10)

,YEAR,MONTH,DAY,DAY_OF_WEEK,AIRLINE,ORIGIN_AIRPORT,SCHEDULED_DEPARTURE,DEPARTURE_DELAY
2,2015,1,1,4,US,SFO,20,-2.0
5,2015,1,1,4,DL,SFO,25,-5.0
8,2015,1,1,4,AA,SFO,30,-11.0
17,2015,1,1,4,UA,SFO,48,-6.0
92,2015,1,1,4,UA,SFO,531,19.0
155,2015,1,1,4,WN,SFO,555,-2.0
190,2015,1,1,4,WN,SFO,600,-6.0
191,2015,1,1,4,UA,SFO,600,-3.0
195,2015,1,1,4,UA,SFO,600,5.0
202,2015,1,1,4,US,SFO,600,-3.0

In [12]:
flights_sfo['DEPARTURE_DELAY'] = np.where(flights_sfo['DEPARTURE_DELAY']>0, 1, 0)
flights_sfo.tail(10)

,YEAR,MONTH,DAY,DAY_OF_WEEK,AIRLINE,ORIGIN_AIRPORT,SCHEDULED_DEPARTURE,DEPARTURE_DELAY
5818966,2015,12,31,4,UA,SFO,2304,0
5818967,2015,12,31,4,UA,SFO,2304,1
5818971,2015,12,31,4,UA,SFO,2308,1
5818973,2015,12,31,4,UA,SFO,2309,0
5818981,2015,12,31,4,UA,SFO,2313,0
5819000,2015,12,31,4,OO,SFO,2325,0
5819005,2015,12,31,4,OO,SFO,2330,0
5819007,2015,12,31,4,UA,SFO,2330,0
5819024,2015,12,31,4,UA,SFO,2343,0
5819041,2015,12,31,4,UA,SFO,2354,0

In [13]:
dummy = pd.get_dummies(flights_sfo.DAY_OF_WEEK)
dummy.drop(dummy.columns[len(dummy.columns)-1], axis=1, inplace=True)
dummy.columns = ['Mon', 'Tue','Wed','Thu','Fri','Sat']
flights_sfo = pd.concat([flights_sfo,dummy],axis=1)
flights_sfo.drop(['DAY_OF_WEEK','ORIGIN_AIRPORT'], axis=1, inplace=True)

In [16]:
dummy = pd.get_dummies(flights_sfo.AIRLINE)
dummy.drop(dummy.columns[len(dummy.columns)-1], axis=1, inplace=True)
dummy.columns = ['AA', 'AS','B6','DL','F9','HA','OO','UA','US','VX']
flights_sfo = pd.concat([flights_sfo,dummy],axis=1)
flights_sfo.drop(['AIRLINE'], axis=1, inplace=True)

In [17]:
flights_sfo.SCHEDULED_DEPARTURE=flights_sfo.SCHEDULED_DEPARTURE.apply(lambda x: str(x).zfill(4))
flights_sfo.SCHEDULED_DEPARTURE = flights_sfo.SCHEDULED_DEPARTURE.str[:2] + ':' + flights_sfo.SCHEDULED_DEPARTURE.str[-2:]
flights_sfo_datetime = pd.to_datetime(dict(year=flights_sfo.YEAR, month=flights_sfo.MONTH, day=flights_sfo.DAY,hour =flights_sfo.SCHEDULED_DEPARTURE.str[:2],minute =flights_sfo.SCHEDULED_DEPARTURE.str[3:] ))
flights_sfo = pd.concat([flights_sfo,flights_sfo_datetime],axis=1)
flights_sfo.drop(['YEAR','MONTH','DAY','SCHEDULED_DEPARTURE'], axis=1, inplace=True)

In [19]:
flights_sfo.rename(columns={flights_sfo.columns[-1]: 'Timestamp'}, inplace=True)
flights_sfo.head()

,DEPARTURE_DELAY,Mon,Tue,Wed,Thu,Fri,Sat,AA,AS,B6,DL,F9,HA,OO,UA,US,VX,Timestamp
2,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,2015-01-01 00:20:00
5,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0,0,0,2015-01-01 00:25:00
8,0,0,0,0,1,0,0,1,0,0,0,0,0,0,0,0,0,2015-01-01 00:30:00
17,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,2015-01-01 00:48:00
92,1,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,2015-01-01 05:31:00

In [20]:
flights_sfo.Timestamp.tail(10)

5818966   2015-12-31 23:04:00
5818967   2015-12-31 23:04:00
5818971   2015-12-31 23:08:00
5818973   2015-12-31 23:09:00
5818981   2015-12-31 23:13:00
5819000   2015-12-31 23:25:00
5819005   2015-12-31 23:30:00
5819007   2015-12-31 23:30:00
5819024   2015-12-31 23:43:00
5819041   2015-12-31 23:54:00
Name: Timestamp, dtype: datetime64[ns]

In [21]:
sfo = pd.read_csv("/Users/xiaoxiaoren/Documents/sjsu s2 class/257 Machine Learning/project/groupProject/dataset/SFO.csv", na_values=['M'])

In [22]:
sfo_dropList = ['station', 'skyc1', 'skyc2', 'skyc3', 'skyc4', 'skyl1', 'skyl2', 'skyl3', 'skyl4', 'wxcodes', 'metar']
sfo.drop(sfo_dropList, axis=1, inplace=True)
sfo.head(10)

,valid,tmpf,dwpf,relh,drct,sknt,p01i,alti,mslp,vsby,gust
0,2015-01-01 00:56,53.06,32.00,44.48,280.0,7.0,0.0,30.09,1018.9,10.0,NaN
1,2015-01-01 01:56,51.98,33.08,48.34,270.0,6.0,0.0,30.08,1018.7,10.0,NaN
2,2015-01-01 02:56,50.00,37.04,60.89,280.0,8.0,0.0,30.10,1019.1,10.0,NaN
3,2015-01-01 03:56,50.00,37.04,60.89,270.0,5.0,0.0,30.09,1018.7,10.0,NaN
4,2015-01-01 04:56,50.00,37.04,60.89,0.0,0.0,0.0,30.08,1018.5,10.0,NaN
5,2015-01-01 05:56,44.96,35.96,70.52,150.0,4.0,0.0,30.08,1018.7,10.0,NaN
6,2015-01-01 06:56,44.96,28.94,53.17,0.0,0.0,0.0,30.08,1018.6,10.0,NaN
7,2015-01-01 07:56,42.98,30.92,62.16,210.0,4.0,0.0,30.08,1018.6,10.0,NaN
8,2015-01-01 08:56,44.06,33.08,65.07,300.0,3.0,0.0,30.08,1018.4,10.0,NaN
9,2015-01-01 09:56,39.92,32.00,73.08,200.0,3.0,0.0,30.09,1018.8,10.0,NaN

In [23]:
sfo['valid']= pd.to_datetime(sfo['valid'], format='%Y%m%d %H:%M')
sfo.head(10)

,valid,tmpf,dwpf,relh,drct,sknt,p01i,alti,mslp,vsby,gust
0,2015-01-01 00:56:00,53.06,32.00,44.48,280.0,7.0,0.0,30.09,1018.9,10.0,NaN
1,2015-01-01 01:56:00,51.98,33.08,48.34,270.0,6.0,0.0,30.08,1018.7,10.0,NaN
2,2015-01-01 02:56:00,50.00,37.04,60.89,280.0,8.0,0.0,30.10,1019.1,10.0,NaN
3,2015-01-01 03:56:00,50.00,37.04,60.89,270.0,5.0,0.0,30.09,1018.7,10.0,NaN
4,2015-01-01 04:56:00,50.00,37.04,60.89,0.0,0.0,0.0,30.08,1018.5,10.0,NaN
5,2015-01-01 05:56:00,44.96,35.96,70.52,150.0,4.0,0.0,30.08,1018.7,10.0,NaN
6,2015-01-01 06:56:00,44.96,28.94,53.17,0.0,0.0,0.0,30.08,1018.6,10.0,NaN
7,2015-01-01 07:56:00,42.98,30.92,62.16,210.0,4.0,0.0,30.08,1018.6,10.0,NaN
8,2015-01-01 08:56:00,44.06,33.08,65.07,300.0,3.0,0.0,30.08,1018.4,10.0,NaN
9,2015-01-01 09:56:00,39.92,32.00,73.08,200.0,3.0,0.0,30.09,1018.8,10.0,NaN

In [24]:
sfo.rename(columns={"valid": "Time", "tmpf": "Air_Temperature", "dwpf": "Dew_Point_Temperature", 
                    "relh": "Relative_Humidity", "drct": "Wind_Direction", "sknt": "Wind_Speed",
                    "p01i": "Precipitation_Per_Hour", "alti": "Pressure_Altimeter", "mslp": "Sea_Level_Pressure",
                    "vsby": "Visibility", "gust": "Wind_Gust"}, inplace = True)

In [25]:
TimestampYearToHour = pd.Series(flights_sfo.Timestamp)

for i in TimestampYearToHour.index:
    TimestampYearToHour[i] = TimestampYearToHour[i].strftime("%H, %B %d, %Y")
    
print(TimestampYearToHour)

2           00, January 01, 2015
5           00, January 01, 2015
8           00, January 01, 2015
17          00, January 01, 2015
92          05, January 01, 2015
155         05, January 01, 2015
190         06, January 01, 2015
191         06, January 01, 2015
195         06, January 01, 2015
202         06, January 01, 2015
214         06, January 01, 2015
302         06, January 01, 2015
363         06, January 01, 2015
395         06, January 01, 2015
401         06, January 01, 2015
416         06, January 01, 2015
482         06, January 01, 2015
588         06, January 01, 2015
607         06, January 01, 2015
630         06, January 01, 2015
687         06, January 01, 2015
707         06, January 01, 2015
809         06, January 01, 2015
843         07, January 01, 2015
845         07, January 01, 2015
870         07, January 01, 2015
892         07, January 01, 2015
918         07, January 01, 2015
983         07, January 01, 2015
985         07, January 01, 2015
                   ...
5818716    21, December 31, 2015
5818717    21, December 31, 2015
5818756    21, December 31, 2015
5818854    22, December 31, 2015
5818885    22, December 31, 2015
5818887    22, December 31, 2015
5818897    22, December 31, 2015
5818900    22, December 31, 2015
5818906    22, December 31, 2015
5818916    22, December 31, 2015
5818922    22, December 31, 2015
5818923    22, December 31, 2015
5818926    22, December 31, 2015
5818934    22, December 31, 2015
5818941    22, December 31, 2015
5818942    22, December 31, 2015
5818945    22, December 31, 2015
5818954    22, December 31, 2015
5818960    23, December 31, 2015
5818961    23, December 31, 2015
5818966    23, December 31, 2015
5818967    23, December 31, 2015
5818971    23, December 31, 2015
5818973    23, December 31, 2015
5818981    23, December 31, 2015
5819000    23, December 31, 2015
5819005    23, December 31, 2015
5819007    23, December 31, 2015
5819024    23, December 31, 2015
5819041    23, December 31, 2015
Name: Timestamp, Length: 148008, dtype: object

In [26]:
flights_sfo['TimestampYearToHour'] = TimestampYearToHour
flights_sfo.head(10)

,DEPARTURE_DELAY,Mon,Tue,Wed,Thu,Fri,Sat,AA,AS,B6,DL,F9,HA,OO,UA,US,VX,Timestamp,TimestampYearToHour
2,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,2015-01-01 00:20:00,"00, January 01, 2015"
5,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0,0,0,2015-01-01 00:25:00,"00, January 01, 2015"
8,0,0,0,0,1,0,0,1,0,0,0,0,0,0,0,0,0,2015-01-01 00:30:00,"00, January 01, 2015"
17,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,2015-01-01 00:48:00,"00, January 01, 2015"
92,1,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,2015-01-01 05:31:00,"05, January 01, 2015"
155,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,2015-01-01 05:55:00,"05, January 01, 2015"
190,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,2015-01-01 06:00:00,"06, January 01, 2015"
191,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,2015-01-01 06:00:00,"06, January 01, 2015"
195,1,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,2015-01-01 06:00:00,"06, January 01, 2015"
202,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,2015-01-01 06:00:00,"06, January 01, 2015"

In [27]:
TimestampYearToHour = pd.Series(sfo.Time)

for i in TimestampYearToHour.index:
    TimestampYearToHour[i] = TimestampYearToHour[i].strftime("%H, %B %d, %Y")
    
print(TimestampYearToHour)

0        00, January 01, 2015
1        01, January 01, 2015
2        02, January 01, 2015
3        03, January 01, 2015
4        04, January 01, 2015
5        05, January 01, 2015
6        06, January 01, 2015
7        07, January 01, 2015
8        08, January 01, 2015
9        09, January 01, 2015
10       10, January 01, 2015
11       11, January 01, 2015
12       12, January 01, 2015
13       13, January 01, 2015
14       14, January 01, 2015
15       15, January 01, 2015
16       16, January 01, 2015
17       17, January 01, 2015
18       18, January 01, 2015
19       19, January 01, 2015
20       20, January 01, 2015
21       21, January 01, 2015
22       22, January 01, 2015
23       23, January 01, 2015
24       00, January 02, 2015
25       01, January 02, 2015
26       02, January 02, 2015
27       03, January 02, 2015
28       04, January 02, 2015
29       05, January 02, 2015
                ...
9501    21, December 29, 2015
9502    22, December 29, 2015
9503    23, December 29, 2015
9504    00, December 30, 2015
9505    01, December 30, 2015
9506    02, December 30, 2015
9507    03, December 30, 2015
9508    04, December 30, 2015
9509    05, December 30, 2015
9510    06, December 30, 2015
9511    07, December 30, 2015
9512    08, December 30, 2015
9513    09, December 30, 2015
9514    10, December 30, 2015
9515    11, December 30, 2015
9516    12, December 30, 2015
9517    13, December 30, 2015
9518    14, December 30, 2015
9519    15, December 30, 2015
9520    16, December 30, 2015
9521    16, December 30, 2015
9522    17, December 30, 2015
9523    18, December 30, 2015
9524    19, December 30, 2015
9525    19, December 30, 2015
9526    20, December 30, 2015
9527    21, December 30, 2015
9528    22, December 30, 2015
9529    22, December 30, 2015
9530    23, December 30, 2015
Name: Time, Length: 9531, dtype: object

In [28]:
sfo['TimestampYearToHour'] = TimestampYearToHour
sfo.head(10)

,Time,Air_Temperature,Dew_Point_Temperature,Relative_Humidity,Wind_Direction,Wind_Speed,Precipitation_Per_Hour,Pressure_Altimeter,Sea_Level_Pressure,Visibility,Wind_Gust,TimestampYearToHour
0,2015-01-01 00:56:00,53.06,32.00,44.48,280.0,7.0,0.0,30.09,1018.9,10.0,NaN,"00, January 01, 2015"
1,2015-01-01 01:56:00,51.98,33.08,48.34,270.0,6.0,0.0,30.08,1018.7,10.0,NaN,"01, January 01, 2015"
2,2015-01-01 02:56:00,50.00,37.04,60.89,280.0,8.0,0.0,30.10,1019.1,10.0,NaN,"02, January 01, 2015"
3,2015-01-01 03:56:00,50.00,37.04,60.89,270.0,5.0,0.0,30.09,1018.7,10.0,NaN,"03, January 01, 2015"
4,2015-01-01 04:56:00,50.00,37.04,60.89,0.0,0.0,0.0,30.08,1018.5,10.0,NaN,"04, January 01, 2015"
5,2015-01-01 05:56:00,44.96,35.96,70.52,150.0,4.0,0.0,30.08,1018.7,10.0,NaN,"05, January 01, 2015"
6,2015-01-01 06:56:00,44.96,28.94,53.17,0.0,0.0,0.0,30.08,1018.6,10.0,NaN,"06, January 01, 2015"
7,2015-01-01 07:56:00,42.98,30.92,62.16,210.0,4.0,0.0,30.08,1018.6,10.0,NaN,"07, January 01, 2015"
8,2015-01-01 08:56:00,44.06,33.08,65.07,300.0,3.0,0.0,30.08,1018.4,10.0,NaN,"08, January 01, 2015"
9,2015-01-01 09:56:00,39.92,32.00,73.08,200.0,3.0,0.0,30.09,1018.8,10.0,NaN,"09, January 01, 2015"

In [29]:
sfo = sfo.sample(frac=1).drop_duplicates(subset='TimestampYearToHour')
sfo

,Time,Air_Temperature,Dew_Point_Temperature,Relative_Humidity,Wind_Direction,Wind_Speed,Precipitation_Per_Hour,Pressure_Altimeter,Sea_Level_Pressure,Visibility,Wind_Gust,TimestampYearToHour
87,2015-01-04 14:56:00,44.96,42.98,92.72,0.0,0.0,0.0,30.40,1029.2,6.0,NaN,"14, January 04, 2015"
5814,2015-08-10 08:56:00,62.06,55.04,77.75,260.0,5.0,0.0,29.91,1012.9,10.0,NaN,"08, August 10, 2015"
4889,2015-07-06 03:56:00,62.96,57.02,80.93,250.0,10.0,0.0,29.98,1015.1,10.0,NaN,"03, July 06, 2015"
2277,2015-03-29 02:56:00,57.92,48.92,71.90,280.0,19.0,0.0,30.08,1018.7,10.0,NaN,"02, March 29, 2015"
6877,2015-09-20 19:56:00,77.00,62.06,59.98,10.0,5.0,0.0,29.86,1011.2,10.0,NaN,"19, September 20, 2015"
3785,2015-05-25 05:56:00,55.94,50.00,80.40,230.0,7.0,0.0,30.00,1015.9,10.0,NaN,"05, May 25, 2015"
3520,2015-05-15 19:56:00,60.98,46.04,57.84,270.0,15.0,0.0,29.96,1014.6,10.0,21.0,"19, May 15, 2015"
1975,2015-03-17 13:56:00,53.96,53.06,96.76,270.0,13.0,0.0,30.11,1019.5,10.0,NaN,"13, March 17, 2015"
5271,2015-07-20 10:56:00,69.98,60.98,73.11,340.0,4.0,0.0,30.01,1016.1,10.0,NaN,"10, July 20, 2015"
2087,2015-03-21 20:56:00,64.94,59.00,81.07,50.0,5.0,0.0,30.14,1020.4,10.0,NaN,"20, March 21, 2015"
4390,2015-06-16 09:46:00,53.60,50.00,87.56,300.0,4.0,0.0,29.94,NaN,10.0,NaN,"09, June 16, 2015"
7654,2015-10-21 07:56:00,59.00,53.96,83.34,280.0,5.0,0.0,29.95,1014.1,10.0,NaN,"07, October 21, 2015"
8749,2015-12-03 08:56:00,48.02,37.94,67.92,290.0,3.0,0.0,30.04,1017.2,10.0,NaN,"08, December 03, 2015"
9476,2015-12-28 20:56:00,44.96,35.96,70.52,80.0,3.0,0.0,30.04,1017.3,10.0,NaN,"20, December 28, 2015"
948,2015-02-06 04:56:00,60.98,51.08,69.86,150.0,13.0,0.0,29.94,1013.7,10.0,NaN,"04, February 06, 2015"
279,2015-01-12 00:56:00,55.04,51.98,89.40,280.0,10.0,0.0,30.11,1019.4,10.0,NaN,"00, January 12, 2015"
5544,2015-07-31 02:56:00,64.04,57.92,80.49,300.0,17.0,0.0,29.98,1015.2,10.0,NaN,"02, July 31, 2015"
3781,2015-05-25 02:56:00,55.94,50.00,80.40,250.0,9.0,0.0,29.98,1015.3,9.0,NaN,"02, May 25, 2015"
4584,2015-06-24 07:56:00,55.94,50.00,80.40,280.0,14.0,0.0,29.96,1014.5,10.0,NaN,"07, June 24, 2015"
2735,2015-04-16 13:56:00,59.00,41.00,51.18,0.0,0.0,0.0,30.02,1016.7,10.0,NaN,"13, April 16, 2015"
4310,2015-06-13 06:56:00,60.08,55.94,86.18,300.0,9.0,0.0,29.79,1008.7,7.0,NaN,"06, June 13, 2015"
4392,2015-06-16 10:17:00,53.60,48.20,81.87,240.0,4.0,0.0,29.95,NaN,10.0,NaN,"10, June 16, 2015"
7103,2015-09-30 04:56:00,59.00,51.98,77.49,270.0,7.0,0.0,29.98,1015.2,10.0,NaN,"04, September 30, 2015"
8701,2015-12-01 08:56:00,50.00,33.98,53.92,80.0,11.0,0.0,30.22,1023.4,10.0,NaN,"08, December 01, 2015"
6509,2015-09-06 06:56:00,62.06,44.96,53.44,270.0,4.0,0.0,29.96,1014.4,10.0,NaN,"06, September 06, 2015"
7581,2015-10-18 15:56:00,64.04,55.94,74.94,270.0,14.0,0.0,29.99,1015.7,10.0,NaN,"15, October 18, 2015"
4173,2015-06-07 20:56:00,69.08,53.96,58.56,300.0,17.0,0.0,29.87,1011.5,10.0,NaN,"20, June 07, 2015"
8561,2015-11-25 13:56:00,42.98,37.94,82.24,270.0,6.0,0.0,29.93,1013.4,10.0,NaN,"13, November 25, 2015"
2856,2015-04-21 02:56:00,55.94,51.08,83.69,260.0,12.0,0.0,29.85,1010.8,10.0,NaN,"02, April 21, 2015"
1331,2015-02-20 12:56:00,55.04,53.96,96.14,120.0,5.0,0.0,30.04,1017.1,6.0,NaN,"12, February 20, 2015"
...,...,...,...,...,...,...,...,...,...,...,...,...
561,2015-01-21 18:56:00,57.02,46.94,68.95,100.0,5.0,0.0,30.16,1021.2,10.0,NaN,"18, January 21, 2015"
6589,2015-09-09 14:56:00,69.98,51.98,52.80,0.0,0.0,0.0,29.87,1011.5,10.0,NaN,"14, September 09, 2015"
1476,2015-02-26 00:56:00,60.98,50.00,67.11,280.0,15.0,0.0,30.14,1020.5,10.0,NaN,"00, February 26, 2015"
8731,2015-12-02 14:56:00,48.92,44.06,83.23,0.0,0.0,0.0,30.24,1023.8,10.0,NaN,"14, December 02, 2015"
4491,2015-06-20 12:56:00,53.06,50.00,89.31,290.0,10.0,0.0,29.89,1012.2,10.0,NaN,"12, June 20, 2015"
93,2015-01-04 20:56:00,51.98,41.00,66.04,0.0,0.0,0.0,30.38,1028.6,8.0,NaN,"20, January 04, 2015"
7627,2015-10-20 05:56:00,60.98,57.02,86.79,280.0,9.0,0.0,29.99,1015.6,10.0,NaN,"05, October 20, 2015"
1618,2015-03-03 11:56:00,48.92,46.04,89.73,230.0,4.0,0.0,29.99,1015.6,10.0,NaN,"11, March 03, 2015"
1111,2015-02-11 17:56:00,57.92,53.96,86.63,0.0,0.0,0.0,30.17,1021.6,10.0,NaN,"17, February 11, 2015"
8279,2015-11-14 14:56:00,46.94,44.06,89.65,0.0,0.0,0.0,29.97,1014.7,10.0,NaN,"14, November 14, 2015"
2149,2015-03-24 03:56:00,57.02,48.02,71.81,270.0,18.0,0.0,30.30,1025.9,10.0,NaN,"03, March 24, 2015"
2217,2015-03-26 17:56:00,64.04,59.00,83.66,40.0,3.0,0.0,30.17,1021.6,10.0,NaN,"17, March 26, 2015"
123,2015-01-06 02:56:00,53.96,42.08,64.03,0.0,0.0,0.0,30.25,1024.4,10.0,NaN,"02, January 06, 2015"
981,2015-02-07 07:56:00,64.94,62.96,93.30,190.0,27.0,0.0,29.90,1012.5,7.0,35.0,"07, February 07, 2015"
3427,2015-05-12 05:56:00,51.98,44.96,76.88,270.0,23.0,0.0,29.90,1012.6,10.0,30.0,"05, May 12, 2015"
3323,2015-05-08 12:56:00,50.00,42.98,76.71,240.0,3.0,0.0,29.82,1009.8,10.0,NaN,"12, May 08, 2015"
8804,2015-12-05 11:56:00,44.96,42.08,89.56,0.0,0.0,0.0,30.25,1024.3,10.0,NaN,"11, December 05, 2015"
6161,2015-08-23 12:56:00,60.98,53.96,77.66,210.0,7.0,0.0,29.97,1014.8,10.0,NaN,"12, August 23, 2015"
568,2015-01-22 01:56:00,55.94,51.08,83.69,0.0,0.0,0.0,30.13,1020.1,10.0,NaN,"01, January 22, 2015"
1199,2015-02-15 09:56:00,55.04,51.08,86.47,0.0,0.0,0.0,30.06,1017.8,10.0,NaN,"09, February 15, 2015"
4773,2015-07-01 15:56:00,64.94,55.04,70.28,320.0,4.0,0.0,29.88,1011.9,10.0,NaN,"15, July 01, 2015"
7493,2015-10-15 15:56:00,62.06,57.92,86.29,300.0,11.0,0.0,29.96,1014.5,10.0,NaN,"15, October 15, 2015"
6753,2015-09-16 00:56:00,60.98,51.08,69.86,270.0,13.0,0.0,29.93,1013.3,10.0,24.0,"00, September 16, 2015"
9090,2015-12-15 02:56:00,51.98,39.02,61.15,300.0,12.0,0.0,30.14,1020.6,10.0,19.0,"02, December 15, 2015"
338,2015-01-14 00:56:00,62.06,42.98,49.55,330.0,4.0,0.0,30.13,1020.1,10.0,NaN,"00, January 14, 2015"
4304,2015-06-13 00:56:00,71.06,53.06,52.95,300.0,18.0,0.0,29.74,1007.1,10.0,NaN,"00, June 13, 2015"
8571,2015-11-25 23:56:00,53.06,33.08,46.46,310.0,5.0,0.0,29.95,1014.1,10.0,NaN,"23, November 25, 2015"
9390,2015-12-25 11:56:00,41.00,35.96,82.09,270.0,4.0,0.0,30.13,1020.1,10.0,NaN,"11, December 25, 2015"
8550,2015-11-25 02:56:00,51.08,41.00,68.28,250.0,5.0,0.0,29.92,1013.3,10.0,NaN,"02, November 25, 2015"
4458,2015-06-19 05:56:00,55.94,48.02,74.67,300.0,7.0,0.0,30.02,1016.7,10.0,NaN,"05, June 19, 2015"

In [30]:
mergedTable = pd.merge(flights_sfo, sfo, how='inner', on='TimestampYearToHour')
mergedTable[['Time','Timestamp', 'TimestampYearToHour']]

                      Time           Timestamp    TimestampYearToHour
0      2015-01-01 00:56:00 2015-01-01 00:20:00   00, January 01, 2015
1      2015-01-01 00:56:00 2015-01-01 00:25:00   00, January 01, 2015
2      2015-01-01 00:56:00 2015-01-01 00:30:00   00, January 01, 2015
3      2015-01-01 00:56:00 2015-01-01 00:48:00   00, January 01, 2015
4      2015-01-01 05:56:00 2015-01-01 05:31:00   05, January 01, 2015
5      2015-01-01 05:56:00 2015-01-01 05:55:00   05, January 01, 2015
6      2015-01-01 06:56:00 2015-01-01 06:00:00   06, January 01, 2015
7      2015-01-01 06:56:00 2015-01-01 06:00:00   06, January 01, 2015
8      2015-01-01 06:56:00 2015-01-01 06:00:00   06, January 01, 2015
9      2015-01-01 06:56:00 2015-01-01 06:00:00   06, January 01, 2015
10     2015-01-01 06:56:00 2015-01-01 06:00:00   06, January 01, 2015
11     2015-01-01 06:56:00 2015-01-01 06:00:00   06, January 01, 2015
12     2015-01-01 06:56:00 2015-01-01 06:01:00   06, January 01, 2015
13     2015-01-01 06:56:00 2015-01-01 06:05:00   06, January 01, 2015
14     2015-01-01 06:56:00 2015-01-01 06:05:00   06, January 01, 2015
15     2015-01-01 06:56:00 2015-01-01 06:06:00   06, January 01, 2015
16     2015-01-01 06:56:00 2015-01-01 06:15:00   06, January 01, 2015
17     2015-01-01 06:56:00 2015-01-01 06:30:00   06, January 01, 2015
18     2015-01-01 06:56:00 2015-01-01 06:30:00   06, January 01, 2015
19     2015-01-01 06:56:00 2015-01-01 06:30:00   06, January 01, 2015
20     2015-01-01 06:56:00 2015-01-01 06:40:00   06, January 01, 2015
21     2015-01-01 06:56:00 2015-01-01 06:45:00   06, January 01, 2015
22     2015-01-01 06:56:00 2015-01-01 06:55:00   06, January 01, 2015
23     2015-01-01 07:56:00 2015-01-01 07:00:00   07, January 01, 2015
24     2015-01-01 07:56:00 2015-01-01 07:00:00   07, January 01, 2015
25     2015-01-01 07:56:00 2015-01-01 07:00:00   07, January 01, 2015
26     2015-01-01 07:56:00 2015-01-01 07:00:00   07, January 01, 2015
27     2015-01-01 07:56:00 2015-01-01 07:00:00   07, January 01, 2015
28     2015-01-01 07:56:00 2015-01-01 07:04:00   07, January 01, 2015
29     2015-01-01 07:56:00 2015-01-01 07:05:00   07, January 01, 2015
...                    ...                 ...                    ...
147285 2015-12-30 22:56:00 2015-12-30 22:45:00  22, December 30, 2015
147286 2015-12-30 22:56:00 2015-12-30 22:45:00  22, December 30, 2015
147287 2015-12-30 22:56:00 2015-12-30 22:46:00  22, December 30, 2015
147288 2015-12-30 22:56:00 2015-12-30 22:47:00  22, December 30, 2015
147289 2015-12-30 22:56:00 2015-12-30 22:49:00  22, December 30, 2015
147290 2015-12-30 22:56:00 2015-12-30 22:50:00  22, December 30, 2015
147291 2015-12-30 22:56:00 2015-12-30 22:52:00  22, December 30, 2015
147292 2015-12-30 22:56:00 2015-12-30 22:53:00  22, December 30, 2015
147293 2015-12-30 22:56:00 2015-12-30 22:55:00  22, December 30, 2015
147294 2015-12-30 22:56:00 2015-12-30 22:55:00  22, December 30, 2015
147295 2015-12-30 22:56:00 2015-12-30 22:59:00  22, December 30, 2015
147296 2015-12-30 23:56:00 2015-12-30 23:00:00  23, December 30, 2015
147297 2015-12-30 23:56:00 2015-12-30 23:00:00  23, December 30, 2015
147298 2015-12-30 23:56:00 2015-12-30 23:01:00  23, December 30, 2015
147299 2015-12-30 23:56:00 2015-12-30 23:03:00  23, December 30, 2015
147300 2015-12-30 23:56:00 2015-12-30 23:04:00  23, December 30, 2015
147301 2015-12-30 23:56:00 2015-12-30 23:04:00  23, December 30, 2015
147302 2015-12-30 23:56:00 2015-12-30 23:05:00  23, December 30, 2015
147303 2015-12-30 23:56:00 2015-12-30 23:05:00  23, December 30, 2015
147304 2015-12-30 23:56:00 2015-12-30 23:08:00  23, December 30, 2015
147305 2015-12-30 23:56:00 2015-12-30 23:11:00  23, December 30, 2015
147306 2015-12-30 23:56:00 2015-12-30 23:15:00  23, December 30, 2015
147307 2015-12-30 23:56:00 2015-12-30 23:15:00  23, December 30, 2015
147308 2015-12-30 23:56:00 2015-12-30 23:25:00  23, December 30, 2015
147309 2015-12-30 23:56:00 2015-12-30 23:30:00  23, December 30, 2015
147310 2015-12-30 23:56:00 2015-12-30 23:45:00  23, December 30, 2015
147311 2015-12-30 23:56:00 2015-12-30 23:49:00  23, December 30, 2015
147312 2015-12-30 23:56:00 2015-12-30 23:50:00  23, December 30, 2015
147313 2015-12-30 23:56:00 2015-12-30 23:54:00  23, December 30, 2015
147314 2015-12-30 23:56:00 2015-12-30 23:59:00  23, December 30, 2015

[147315 rows x 3 columns]

In [31]:
mergedTable.drop(['Time', 'Timestamp', 'TimestampYearToHour'], axis=1, inplace=True)

In [32]:
mergedTable.head(10)

,DEPARTURE_DELAY,Mon,Tue,Wed,Thu,Fri,Sat,AA,AS,B6,...,Air_Temperature,Dew_Point_Temperature,Relative_Humidity,Wind_Direction,Wind_Speed,Precipitation_Per_Hour,Pressure_Altimeter,Sea_Level_Pressure,Visibility,Wind_Gust
0,0,0,0,0,1,0,0,0,0,0,...,53.06,32.00,44.48,280.0,7.0,0.0,30.09,1018.9,10.0,NaN
1,0,0,0,0,1,0,0,0,0,0,...,53.06,32.00,44.48,280.0,7.0,0.0,30.09,1018.9,10.0,NaN
2,0,0,0,0,1,0,0,1,0,0,...,53.06,32.00,44.48,280.0,7.0,0.0,30.09,1018.9,10.0,NaN
3,0,0,0,0,1,0,0,0,0,0,...,53.06,32.00,44.48,280.0,7.0,0.0,30.09,1018.9,10.0,NaN
4,1,0,0,0,1,0,0,0,0,0,...,44.96,35.96,70.52,150.0,4.0,0.0,30.08,1018.7,10.0,NaN
5,0,0,0,0,1,0,0,0,0,0,...,44.96,35.96,70.52,150.0,4.0,0.0,30.08,1018.7,10.0,NaN
6,0,0,0,0,1,0,0,0,0,0,...,44.96,28.94,53.17,0.0,0.0,0.0,30.08,1018.6,10.0,NaN
7,0,0,0,0,1,0,0,0,0,0,...,44.96,28.94,53.17,0.0,0.0,0.0,30.08,1018.6,10.0,NaN
8,1,0,0,0,1,0,0,0,0,0,...,44.96,28.94,53.17,0.0,0.0,0.0,30.08,1018.6,10.0,NaN
9,0,0,0,0,1,0,0,0,0,0,...,44.96,28.94,53.17,0.0,0.0,0.0,30.08,1018.6,10.0,NaN

In [33]:
missing_df = mergedTable.isnull().sum(axis=0).reset_index()
missing_df.columns = ['variable', 'missing values']
missing_df['filling factor (%)']=(mergedTable.shape[0]-missing_df['missing values'])/mergedTable.shape[0]*100
missing_df.sort_values('filling factor (%)').reset_index(drop = True)

                  variable  missing values  filling factor (%)
0                Wind_Gust          134605            8.627770
1       Sea_Level_Pressure            8058           94.530089
2           Wind_Direction            1325           99.100567
3       Pressure_Altimeter              43           99.970811
4               Wind_Speed              43           99.970811
5        Relative_Humidity              43           99.970811
6    Dew_Point_Temperature              43           99.970811
7          Air_Temperature              43           99.970811
8               Visibility              43           99.970811
9   Precipitation_Per_Hour               0          100.000000
10                      VX               0          100.000000
11                      US               0          100.000000
12                      UA               0          100.000000
13         DEPARTURE_DELAY               0          100.000000
14                      F9               0          100.000000
15                      DL               0          100.000000
16                      B6               0          100.000000
17                      AS               0          100.000000
18                      AA               0          100.000000
19                     Sat               0          100.000000
20                     Fri               0          100.000000
21                     Thu               0          100.000000
22                     Wed               0          100.000000
23                     Tue               0          100.000000
24                     Mon               0          100.000000
25                      HA               0          100.000000
26                      OO               0          100.000000

In [34]:
mergedTable.drop(['Wind_Gust'], axis=1, inplace=True)
mergedTable.head()

,DEPARTURE_DELAY,Mon,Tue,Wed,Thu,Fri,Sat,AA,AS,B6,...,VX,Air_Temperature,Dew_Point_Temperature,Relative_Humidity,Wind_Direction,Wind_Speed,Precipitation_Per_Hour,Pressure_Altimeter,Sea_Level_Pressure,Visibility
0,0,0,0,0,1,0,0,0,0,0,...,0,53.06,32.00,44.48,280.0,7.0,0.0,30.09,1018.9,10.0
1,0,0,0,0,1,0,0,0,0,0,...,0,53.06,32.00,44.48,280.0,7.0,0.0,30.09,1018.9,10.0
2,0,0,0,0,1,0,0,1,0,0,...,0,53.06,32.00,44.48,280.0,7.0,0.0,30.09,1018.9,10.0
3,0,0,0,0,1,0,0,0,0,0,...,0,53.06,32.00,44.48,280.0,7.0,0.0,30.09,1018.9,10.0
4,1,0,0,0,1,0,0,0,0,0,...,0,44.96,35.96,70.52,150.0,4.0,0.0,30.08,1018.7,10.0

In [37]:
mergedTable.loc[(mergedTable['DEPARTURE_DELAY'].isnull())|(mergedTable['Air_Temperature'].isnull())|
                (mergedTable['Dew_Point_Temperature'].isnull())|(mergedTable['Relative_Humidity'].isnull())|
                (mergedTable['Wind_Direction'].isnull())|(mergedTable['Wind_Speed'].isnull())|
                (mergedTable['Precipitation_Per_Hour'].isnull())|(mergedTable['Pressure_Altimeter'].isnull())|
                (mergedTable['Sea_Level_Pressure'].isnull())|(mergedTable['Visibility'].isnull())]

,DEPARTURE_DELAY,Mon,Tue,Wed,Thu,Fri,Sat,AA,AS,B6,...,VX,Air_Temperature,Dew_Point_Temperature,Relative_Humidity,Wind_Direction,Wind_Speed,Precipitation_Per_Hour,Pressure_Altimeter,Sea_Level_Pressure,Visibility
4204,0,0,0,0,0,0,1,0,0,0,...,0,53.60,51.80,93.60,290.0,7.0,0.00,30.01,NaN,9.0
4205,1,0,0,0,0,0,1,0,0,0,...,0,53.60,51.80,93.60,290.0,7.0,0.00,30.01,NaN,9.0
4206,0,0,0,0,0,0,1,0,0,0,...,1,53.60,51.80,93.60,290.0,7.0,0.00,30.01,NaN,9.0
4207,0,0,0,0,0,0,1,0,0,1,...,0,53.60,51.80,93.60,290.0,7.0,0.00,30.01,NaN,9.0
4208,0,0,0,0,0,0,1,0,0,0,...,1,53.60,51.80,93.60,290.0,7.0,0.00,30.01,NaN,9.0
4209,0,0,0,0,0,0,1,0,0,0,...,0,53.60,51.80,93.60,290.0,7.0,0.00,30.01,NaN,9.0
4210,0,0,0,0,0,0,1,0,0,0,...,0,53.60,51.80,93.60,290.0,7.0,0.00,30.01,NaN,9.0
4211,0,0,0,0,0,0,1,0,0,0,...,0,53.60,51.80,93.60,290.0,7.0,0.00,30.01,NaN,9.0
4212,0,0,0,0,0,0,1,0,1,0,...,0,53.60,51.80,93.60,290.0,7.0,0.00,30.01,NaN,9.0
4213,1,0,0,0,0,0,1,0,0,0,...,0,53.60,51.80,93.60,290.0,7.0,0.00,30.01,NaN,9.0
4214,1,0,0,0,0,0,1,0,0,0,...,0,53.60,51.80,93.60,290.0,7.0,0.00,30.01,NaN,9.0
4215,0,0,0,0,0,0,1,0,0,0,...,0,53.60,51.80,93.60,290.0,7.0,0.00,30.01,NaN,9.0
4216,0,0,0,0,0,0,1,0,0,0,...,0,53.60,51.80,93.60,290.0,7.0,0.00,30.01,NaN,9.0
4217,0,0,0,0,0,0,1,0,0,0,...,0,53.60,51.80,93.60,290.0,7.0,0.00,30.01,NaN,9.0
4218,1,0,0,0,0,0,1,0,0,0,...,0,53.60,51.80,93.60,290.0,7.0,0.00,30.01,NaN,9.0
4235,1,0,0,0,0,0,1,0,0,0,...,0,53.60,53.60,100.00,0.0,0.0,0.00,30.03,NaN,9.0
4236,0,0,0,0,0,0,1,0,1,0,...,0,53.60,53.60,100.00,0.0,0.0,0.00,30.03,NaN,9.0
4237,0,0,0,0,0,0,1,0,0,0,...,0,53.60,53.60,100.00,0.0,0.0,0.00,30.03,NaN,9.0
4238,0,0,0,0,0,0,1,0,0,0,...,0,53.60,53.60,100.00,0.0,0.0,0.00,30.03,NaN,9.0
4239,0,0,0,0,0,0,1,0,0,0,...,0,53.60,53.60,100.00,0.0,0.0,0.00,30.03,NaN,9.0
4240,1,0,0,0,0,0,1,0,0,0,...,0,53.60,53.60,100.00,0.0,0.0,0.00,30.03,NaN,9.0
4241,0,0,0,0,0,0,1,0,0,0,...,1,53.60,53.60,100.00,0.0,0.0,0.00,30.03,NaN,9.0
4242,0,0,0,0,0,0,1,0,0,0,...,0,53.60,53.60,100.00,0.0,0.0,0.00,30.03,NaN,9.0
4243,0,0,0,0,0,0,1,0,0,0,...,0,53.60,53.60,100.00,0.0,0.0,0.00,30.03,NaN,9.0
4244,0,0,0,0,0,0,1,0,0,0,...,0,53.60,53.60,100.00,0.0,0.0,0.00,30.03,NaN,9.0
4245,0,0,0,0,0,0,1,0,0,0,...,0,53.60,53.60,100.00,0.0,0.0,0.00,30.03,NaN,9.0
4246,1,0,0,0,0,0,1,1,0,0,...,0,53.60,53.60,100.00,0.0,0.0,0.00,30.03,NaN,9.0
4247,0,0,0,0,0,0,1,0,0,0,...,0,53.60,53.60,100.00,0.0,0.0,0.00,30.03,NaN,9.0
4248,0,0,0,0,0,0,1,0,0,0,...,0,53.60,53.60,100.00,0.0,0.0,0.00,30.03,NaN,9.0
4249,1,0,0,0,0,0,1,0,0,0,...,0,53.60,53.60,100.00,0.0,0.0,0.00,30.03,NaN,9.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
145991,1,1,0,0,0,0,0,1,0,0,...,0,42.98,39.02,85.79,20.0,4.0,0.06,30.09,NaN,5.0
145992,0,1,0,0,0,0,0,0,0,0,...,0,42.98,39.02,85.79,20.0,4.0,0.06,30.09,NaN,5.0
145993,0,1,0,0,0,0,0,0,1,0,...,0,42.98,39.02,85.79,20.0,4.0,0.06,30.09,NaN,5.0
146057,1,1,0,0,0,0,0,0,0,0,...,0,42.98,37.94,82.24,50.0,8.0,0.00,30.09,NaN,10.0
146058,0,1,0,0,0,0,0,0,0,0,...,1,42.98,37.94,82.24,50.0,8.0,0.00,30.09,NaN,10.0
146059,1,1,0,0,0,0,0,1,0,0,...,0,42.98,37.94,82.24,50.0,8.0,0.00,30.09,NaN,10.0
146060,1,1,0,0,0,0,0,0,0,0,...,0,42.98,37.94,82.24,50.0,8.0,0.00,30.09,NaN,10.0
146061,1,1,0,0,0,0,0,0,0,0,...,0,42.98,37.94,82.24,50.0,8.0,0.00,30.09,NaN,10.0
146062,1,1,0,0,0,0,0,1,0,0,...,0,42.98,37.94,82.24,50.0,8.0,0.00,30.09,NaN,10.0
146063,0,1,0,0,0,0,0,0,0,0,...,0,42.98,37.94,82.24,50.0,8.0,0.00,30.09,NaN,10.0
146064,1,1,0,0,0,0,0,0,0,0,...,0,42.98,37.94,82.24,50.0,8.0,0.00,30.09,NaN,10.0
146065,0,1,0,0,0,0,0,1,0,0,...,0,42.98,37.94,82.24,50.0,8.0,0.00,30.09,NaN,10.0
146066,1,1,0,0,0,0,0,0,0,0,...,0,42.98,37.94,82.24,50.0,8.0,0.00,30.09,NaN,10.0
146067,0,1,0,0,0,0,0,0,0,0,...,0,42.98,37.94,82.24,50.0,8.0,0.00,30.09,NaN,10.0
146068,1,1,0,0,0,0,0,0,0,0,...,0,42.98,37.94,82.24,50.0,8.0,0.00,30.09,NaN,10.0
146069,1,1,0,0,0,0,0,0,0,0,...,0,42.98,37.94,82.24,50.0,8.0,0.00,30.09,NaN,10.0
146070,1,1,0,0,0,0,0,0,0,0,...,0,42.98,37.94,82.24,50.0,8.0,0.00,30.09,NaN,10.0
146071,1,1,0,0,0,0,0,0,0,0,...,0,42.98,37.94,82.24,50.0,8.0,0.00,30.09,NaN,10.0
146072,1,1,0,0,0,0,0,0,0,0,...,0,42.98,37.94,82.24,50.0,8.0,0.00,30.09,NaN,10.0
146073,1,1,0,0,0,0,0,0,0,0,...,0,42.98,37.94,82.24,50.0,8.0,0.00,30.09,NaN,10.0
146074,1,1,0,0,0,0,0,0,0,0,...,1,42.98,37.94,82.24,50.0,8.0,0.00,30.09,NaN,10.0
146075,0,1,0,0,0,0,0,0,0,0,...,0,42.98,37.94,82.24,50.0,8.0,0.00,30.09,NaN,10.0
146076,0,1,0,0,0,0,0,0,0,0,...,0,42.98,37.94,82.24,50.0,8.0,0.00,30.09,NaN,10.0
146077,0,1,0,0,0,0,0,0,0,1,...,0,42.98,37.94,82.24,50.0,8.0,0.00,30.09,NaN,10.0
146078,1,1,0,0,0,0,0,0,0,0,...,0,42.98,37.94,82.24,50.0,8.0,0.00,30.09,NaN,10.0
146079,1,1,0,0,0,0,0,0,0,0,...,0,42.98,37.94,82.24,50.0,8.0,0.00,30.09,NaN,10.0
146080,1,1,0,0,0,0,0,0,0,0,...,0,42.98,37.94,82.24,50.0,8.0,0.00,30.09,NaN,10.0
146081,0,1,0,0,0,0,0,0,0,0,...,0,42.98,37.94,82.24,50.0,8.0,0.00,30.09,NaN,10.0
146082,0,1,0,0,0,0,0,0,1,0,...,0,42.98,37.94,82.24,50.0,8.0,0.00,30.09,NaN,10.0
146083,1,1,0,0,0,0,0,0,0,0,...,0,42.98,37.94,82.24,50.0,8.0,0.00,30.09,NaN,10.0

In [38]:
mergedTable.dropna(inplace = True)

In [39]:
missing_df = mergedTable.isnull().sum(axis=0).reset_index()
missing_df.columns = ['variable', 'missing values']
missing_df['filling factor (%)']=(mergedTable.shape[0]-missing_df['missing values'])/mergedTable.shape[0]*100
missing_df.sort_values('filling factor (%)').reset_index(drop = True)

                  variable  missing values  filling factor (%)
0          DEPARTURE_DELAY               0               100.0
1       Pressure_Altimeter               0               100.0
2   Precipitation_Per_Hour               0               100.0
3               Wind_Speed               0               100.0
4           Wind_Direction               0               100.0
5        Relative_Humidity               0               100.0
6    Dew_Point_Temperature               0               100.0
7          Air_Temperature               0               100.0
8                       VX               0               100.0
9                       US               0               100.0
10                      UA               0               100.0
11                      OO               0               100.0
12                      HA               0               100.0
13                      F9               0               100.0
14                      DL               0               100.0
15                      B6               0               100.0
16                      AS               0               100.0
17                      AA               0               100.0
18                     Sat               0               100.0
19                     Fri               0               100.0
20                     Thu               0               100.0
21                     Wed               0               100.0
22                     Tue               0               100.0
23                     Mon               0               100.0
24      Sea_Level_Pressure               0               100.0
25              Visibility               0               100.0

In [41]:
mergedTable.describe(include = 'all')

,DEPARTURE_DELAY,Mon,Tue,Wed,Thu,Fri,Sat,AA,AS,B6,...,VX,Air_Temperature,Dew_Point_Temperature,Relative_Humidity,Wind_Direction,Wind_Speed,Precipitation_Per_Hour,Pressure_Altimeter,Sea_Level_Pressure,Visibility
count,138066.000000,138066.000000,138066.000000,138066.000000,138066.000000,138066.000000,138066.000000,138066.000000,138066.000000,138066.000000,...,138066.000000,138066.000000,138066.000000,138066.000000,138066.000000,138066.000000,138066.000000,138066.000000,138066.000000,138066.000000
mean,0.394094,0.150848,0.142417,0.150356,0.146712,0.151775,0.117864,0.082663,0.034795,0.033419,...,0.107651,58.120158,49.694200,75.357704,190.399664,7.265431,0.000659,30.025018,1016.692395,9.714084
std,0.488657,0.357902,0.349479,0.357421,0.353820,0.358804,0.322448,0.275374,0.183261,0.179728,...,0.309941,7.594994,6.756762,15.311292,118.991213,5.832957,0.007385,0.136787,4.627854,1.078731
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,35.060000,21.020000,16.140000,0.000000,0.000000,0.000000,29.710000,1006.000000,0.120000
25%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,53.060000,46.040000,65.540000,60.000000,3.000000,0.000000,29.920000,1013.100000,10.000000
50%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,57.920000,51.080000,77.660000,250.000000,6.000000,0.000000,30.010000,1016.100000,10.000000
75%,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,62.960000,55.040000,86.410000,280.000000,11.000000,0.000000,30.120000,1019.800000,10.000000
max,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,91.940000,64.940000,100.000000,360.000000,32.000000,0.230000,30.460000,1031.500000,10.000000

In [42]:
mergedTable.shape[0]

138066

In [43]:
mergedTable.to_csv('FlightDelayWithWeather.csv')

In [44]:
dfFlight = pd.read_csv('FlightDelayWithWeather.csv')

In [45]:
dfFlight.head()

,Unnamed: 0,DEPARTURE_DELAY,Mon,Tue,Wed,Thu,Fri,Sat,AA,AS,...,VX,Air_Temperature,Dew_Point_Temperature,Relative_Humidity,Wind_Direction,Wind_Speed,Precipitation_Per_Hour,Pressure_Altimeter,Sea_Level_Pressure,Visibility
0,0,0,0,0,0,1,0,0,0,0,...,0,53.06,32.00,44.48,280.0,7.0,0.0,30.09,1018.9,10.0
1,1,0,0,0,0,1,0,0,0,0,...,0,53.06,32.00,44.48,280.0,7.0,0.0,30.09,1018.9,10.0
2,2,0,0,0,0,1,0,0,1,0,...,0,53.06,32.00,44.48,280.0,7.0,0.0,30.09,1018.9,10.0
3,3,0,0,0,0,1,0,0,0,0,...,0,53.06,32.00,44.48,280.0,7.0,0.0,30.09,1018.9,10.0
4,4,1,0,0,0,1,0,0,0,0,...,0,44.96,35.96,70.52,150.0,4.0,0.0,30.08,1018.7,10.0