In [1]:
import pandas as pd
import numpy as np

In [2]:
airport_path = "/Users/xiaoxiaoren/Documents/sjsu s2 class/257 Machine Learning/project/groupProject/dataset/flight-delays/airports.csv"
airline_path = "/Users/xiaoxiaoren/Documents/sjsu s2 class/257 Machine Learning/project/groupProject/dataset/flight-delays/airlines.csv"
flights_path  ="/Users/xiaoxiaoren/Documents/sjsu s2 class/257 Machine Learning/project/groupProject/dataset/flight-delays/flights.csv"

In [3]:
airports = pd.read_csv(airport_path)

In [4]:
airlines = pd.read_csv(airline_path)

In [5]:
flights = pd.read_csv(flights_path)

/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (7,8) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [6]:
len(flights.columns)

31

In [7]:
missing_df = flights.isnull().sum(axis=0).reset_index()
missing_df.columns = ['variable', 'missing values']
missing_df['filling factor (%)']=(flights.shape[0]-missing_df['missing values'])/flights.shape[0]*100
missing_df.sort_values('filling factor (%)').reset_index(drop = True)

               variable  missing values  filling factor (%)
0   CANCELLATION_REASON         5729195            1.544643
1         WEATHER_DELAY         4755640           18.275040
2         AIRLINE_DELAY         4755640           18.275040
3        SECURITY_DELAY         4755640           18.275040
4      AIR_SYSTEM_DELAY         4755640           18.275040
5   LATE_AIRCRAFT_DELAY         4755640           18.275040
6         ARRIVAL_DELAY          105071           98.194371
7              AIR_TIME          105071           98.194371
8          ELAPSED_TIME          105071           98.194371
9               TAXI_IN           92513           98.410178
10            WHEELS_ON           92513           98.410178
11         ARRIVAL_TIME           92513           98.410178
12             TAXI_OUT           89047           98.469741
13           WHEELS_OFF           89047           98.469741
14       DEPARTURE_TIME           86153           98.519474
15      DEPARTURE_DELAY           86153           98.519474
16          TAIL_NUMBER           14721           99.747022
17       SCHEDULED_TIME               6           99.999897
18                MONTH               0          100.000000
19                  DAY               0          100.000000
20          DAY_OF_WEEK               0          100.000000
21              AIRLINE               0          100.000000
22            CANCELLED               0          100.000000
23  SCHEDULED_DEPARTURE               0          100.000000
24        FLIGHT_NUMBER               0          100.000000
25    SCHEDULED_ARRIVAL               0          100.000000
26  DESTINATION_AIRPORT               0          100.000000
27             DISTANCE               0          100.000000
28       ORIGIN_AIRPORT               0          100.000000
29             DIVERTED               0          100.000000
30                 YEAR               0          100.000000

In [8]:
flights_sfo = flights.drop([ 'DIVERTED','TAXI_OUT',
 'WHEELS_OFF','WHEELS_ON',
 'TAXI_IN',
 'SCHEDULED_ARRIVAL',
 'ARRIVAL_TIME',
 'ARRIVAL_DELAY','CANCELLED',
 'CANCELLATION_REASON',
 'AIR_SYSTEM_DELAY',
 'SECURITY_DELAY',
 'AIRLINE_DELAY',
 'LATE_AIRCRAFT_DELAY',
 'WEATHER_DELAY',
'SCHEDULED_TIME',
 'ELAPSED_TIME',
 'AIR_TIME',
 'DISTANCE',
    'DESTINATION_AIRPORT',
    'DEPARTURE_TIME','TAIL_NUMBER',
                           ], axis=1)

In [9]:
flights_sfo.drop(['FLIGHT_NUMBER'], axis=1, inplace=True)

In [10]:
flights_sfo.columns

Index(['YEAR', 'MONTH', 'DAY', 'DAY_OF_WEEK', 'AIRLINE', 'ORIGIN_AIRPORT',
       'SCHEDULED_DEPARTURE', 'DEPARTURE_DELAY'],
      dtype='object')

In [11]:
flights_sfo = flights_sfo.loc[flights['ORIGIN_AIRPORT'] == 'SFO']
flights_sfo.head(10)

,YEAR,MONTH,DAY,DAY_OF_WEEK,AIRLINE,ORIGIN_AIRPORT,SCHEDULED_DEPARTURE,DEPARTURE_DELAY
2,2015,1,1,4,US,SFO,20,-2.0
5,2015,1,1,4,DL,SFO,25,-5.0
8,2015,1,1,4,AA,SFO,30,-11.0
17,2015,1,1,4,UA,SFO,48,-6.0
92,2015,1,1,4,UA,SFO,531,19.0
155,2015,1,1,4,WN,SFO,555,-2.0
190,2015,1,1,4,WN,SFO,600,-6.0
191,2015,1,1,4,UA,SFO,600,-3.0
195,2015,1,1,4,UA,SFO,600,5.0
202,2015,1,1,4,US,SFO,600,-3.0

In [12]:
flights_sfo['DEPARTURE_DELAY'] = np.where(flights_sfo['DEPARTURE_DELAY']>0, 1, 0)
flights_sfo.tail(10)

,YEAR,MONTH,DAY,DAY_OF_WEEK,AIRLINE,ORIGIN_AIRPORT,SCHEDULED_DEPARTURE,DEPARTURE_DELAY
5818966,2015,12,31,4,UA,SFO,2304,0
5818967,2015,12,31,4,UA,SFO,2304,1
5818971,2015,12,31,4,UA,SFO,2308,1
5818973,2015,12,31,4,UA,SFO,2309,0
5818981,2015,12,31,4,UA,SFO,2313,0
5819000,2015,12,31,4,OO,SFO,2325,0
5819005,2015,12,31,4,OO,SFO,2330,0
5819007,2015,12,31,4,UA,SFO,2330,0
5819024,2015,12,31,4,UA,SFO,2343,0
5819041,2015,12,31,4,UA,SFO,2354,0

In [13]:
dummy = pd.get_dummies(flights_sfo.DAY_OF_WEEK)
dummy.drop(dummy.columns[len(dummy.columns)-1], axis=1, inplace=True)
dummy.columns = ['Mon', 'Tue','Wed','Thu','Fri','Sat']
flights_sfo = pd.concat([flights_sfo,dummy],axis=1)
flights_sfo.drop(['DAY_OF_WEEK','ORIGIN_AIRPORT'], axis=1, inplace=True)

In [14]:
flights_sfo.SCHEDULED_DEPARTURE=flights_sfo.SCHEDULED_DEPARTURE.apply(lambda x: str(x).zfill(4))
flights_sfo.SCHEDULED_DEPARTURE = flights_sfo.SCHEDULED_DEPARTURE.str[:2] + ':' + flights_sfo.SCHEDULED_DEPARTURE.str[-2:]
flights_sfo_datetime = pd.to_datetime(dict(year=flights_sfo.YEAR, month=flights_sfo.MONTH, day=flights_sfo.DAY,hour =flights_sfo.SCHEDULED_DEPARTURE.str[:2],minute =flights_sfo.SCHEDULED_DEPARTURE.str[3:] ))
flights_sfo = pd.concat([flights_sfo,flights_sfo_datetime],axis=1)
flights_sfo.drop(['YEAR','MONTH','DAY','SCHEDULED_DEPARTURE'], axis=1, inplace=True)

In [15]:
flights_sfo.rename(columns={flights_sfo.columns[-1]: 'Timestamp'}, inplace=True)
flights_sfo.head()

   AIRLINE  DEPARTURE_DELAY  Mon  Tue  Wed  Thu  Fri  Sat           Timestamp
2       US                0    0    0    0    1    0    0 2015-01-01 00:20:00
5       DL                0    0    0    0    1    0    0 2015-01-01 00:25:00
8       AA                0    0    0    0    1    0    0 2015-01-01 00:30:00
17      UA                0    0    0    0    1    0    0 2015-01-01 00:48:00
92      UA                1    0    0    0    1    0    0 2015-01-01 05:31:00

In [16]:
flights_sfo.Timestamp.tail(10)

5818966   2015-12-31 23:04:00
5818967   2015-12-31 23:04:00
5818971   2015-12-31 23:08:00
5818973   2015-12-31 23:09:00
5818981   2015-12-31 23:13:00
5819000   2015-12-31 23:25:00
5819005   2015-12-31 23:30:00
5819007   2015-12-31 23:30:00
5819024   2015-12-31 23:43:00
5819041   2015-12-31 23:54:00
Name: Timestamp, dtype: datetime64[ns]

In [17]:
sfo = pd.read_csv("/Users/xiaoxiaoren/Documents/sjsu s2 class/257 Machine Learning/project/groupProject/dataset/SFO.csv", na_values=['M'])

In [18]:
sfo_dropList = ['station', 'skyc1', 'skyc2', 'skyc3', 'skyc4', 'skyl1', 'skyl2', 'skyl3', 'skyl4', 'wxcodes', 'metar']
sfo.drop(sfo_dropList, axis=1, inplace=True)
sfo.head(10)

,valid,tmpf,dwpf,relh,drct,sknt,p01i,alti,mslp,vsby,gust
0,2015-01-01 00:56,53.06,32.00,44.48,280.0,7.0,0.0,30.09,1018.9,10.0,NaN
1,2015-01-01 01:56,51.98,33.08,48.34,270.0,6.0,0.0,30.08,1018.7,10.0,NaN
2,2015-01-01 02:56,50.00,37.04,60.89,280.0,8.0,0.0,30.10,1019.1,10.0,NaN
3,2015-01-01 03:56,50.00,37.04,60.89,270.0,5.0,0.0,30.09,1018.7,10.0,NaN
4,2015-01-01 04:56,50.00,37.04,60.89,0.0,0.0,0.0,30.08,1018.5,10.0,NaN
5,2015-01-01 05:56,44.96,35.96,70.52,150.0,4.0,0.0,30.08,1018.7,10.0,NaN
6,2015-01-01 06:56,44.96,28.94,53.17,0.0,0.0,0.0,30.08,1018.6,10.0,NaN
7,2015-01-01 07:56,42.98,30.92,62.16,210.0,4.0,0.0,30.08,1018.6,10.0,NaN
8,2015-01-01 08:56,44.06,33.08,65.07,300.0,3.0,0.0,30.08,1018.4,10.0,NaN
9,2015-01-01 09:56,39.92,32.00,73.08,200.0,3.0,0.0,30.09,1018.8,10.0,NaN

In [19]:
sfo['valid']= pd.to_datetime(sfo['valid'], format='%Y%m%d %H:%M')
sfo.head(10)

,valid,tmpf,dwpf,relh,drct,sknt,p01i,alti,mslp,vsby,gust
0,2015-01-01 00:56:00,53.06,32.00,44.48,280.0,7.0,0.0,30.09,1018.9,10.0,NaN
1,2015-01-01 01:56:00,51.98,33.08,48.34,270.0,6.0,0.0,30.08,1018.7,10.0,NaN
2,2015-01-01 02:56:00,50.00,37.04,60.89,280.0,8.0,0.0,30.10,1019.1,10.0,NaN
3,2015-01-01 03:56:00,50.00,37.04,60.89,270.0,5.0,0.0,30.09,1018.7,10.0,NaN
4,2015-01-01 04:56:00,50.00,37.04,60.89,0.0,0.0,0.0,30.08,1018.5,10.0,NaN
5,2015-01-01 05:56:00,44.96,35.96,70.52,150.0,4.0,0.0,30.08,1018.7,10.0,NaN
6,2015-01-01 06:56:00,44.96,28.94,53.17,0.0,0.0,0.0,30.08,1018.6,10.0,NaN
7,2015-01-01 07:56:00,42.98,30.92,62.16,210.0,4.0,0.0,30.08,1018.6,10.0,NaN
8,2015-01-01 08:56:00,44.06,33.08,65.07,300.0,3.0,0.0,30.08,1018.4,10.0,NaN
9,2015-01-01 09:56:00,39.92,32.00,73.08,200.0,3.0,0.0,30.09,1018.8,10.0,NaN

In [20]:
sfo.rename(columns={"valid": "Time", "tmpf": "Air_Temperature", "dwpf": "Dew_Point_Temperature", 
                    "relh": "Relative_Humidity", "drct": "Wind_Direction", "sknt": "Wind_Speed",
                    "p01i": "Precipitation_Per_Hour", "alti": "Pressure_Altimeter", "mslp": "Sea_Level_Pressure",
                    "vsby": "Visibility", "gust": "Wind_Gust"}, inplace = True)

In [21]:
TimestampYearToHour = pd.Series(flights_sfo.Timestamp)

for i in TimestampYearToHour.index:
    TimestampYearToHour[i] = TimestampYearToHour[i].strftime("%H, %B %d, %Y")
    
print(TimestampYearToHour)

2           00, January 01, 2015
5           00, January 01, 2015
8           00, January 01, 2015
17          00, January 01, 2015
92          05, January 01, 2015
155         05, January 01, 2015
190         06, January 01, 2015
191         06, January 01, 2015
195         06, January 01, 2015
202         06, January 01, 2015
214         06, January 01, 2015
302         06, January 01, 2015
363         06, January 01, 2015
395         06, January 01, 2015
401         06, January 01, 2015
416         06, January 01, 2015
482         06, January 01, 2015
588         06, January 01, 2015
607         06, January 01, 2015
630         06, January 01, 2015
687         06, January 01, 2015
707         06, January 01, 2015
809         06, January 01, 2015
843         07, January 01, 2015
845         07, January 01, 2015
870         07, January 01, 2015
892         07, January 01, 2015
918         07, January 01, 2015
983         07, January 01, 2015
985         07, January 01, 2015
                   ...
5818716    21, December 31, 2015
5818717    21, December 31, 2015
5818756    21, December 31, 2015
5818854    22, December 31, 2015
5818885    22, December 31, 2015
5818887    22, December 31, 2015
5818897    22, December 31, 2015
5818900    22, December 31, 2015
5818906    22, December 31, 2015
5818916    22, December 31, 2015
5818922    22, December 31, 2015
5818923    22, December 31, 2015
5818926    22, December 31, 2015
5818934    22, December 31, 2015
5818941    22, December 31, 2015
5818942    22, December 31, 2015
5818945    22, December 31, 2015
5818954    22, December 31, 2015
5818960    23, December 31, 2015
5818961    23, December 31, 2015
5818966    23, December 31, 2015
5818967    23, December 31, 2015
5818971    23, December 31, 2015
5818973    23, December 31, 2015
5818981    23, December 31, 2015
5819000    23, December 31, 2015
5819005    23, December 31, 2015
5819007    23, December 31, 2015
5819024    23, December 31, 2015
5819041    23, December 31, 2015
Name: Timestamp, Length: 148008, dtype: object

In [22]:
flights_sfo['TimestampYearToHour'] = TimestampYearToHour
flights_sfo.head(10)

,AIRLINE,DEPARTURE_DELAY,Mon,Tue,Wed,Thu,Fri,Sat,Timestamp,TimestampYearToHour
2,US,0,0,0,0,1,0,0,2015-01-01 00:20:00,"00, January 01, 2015"
5,DL,0,0,0,0,1,0,0,2015-01-01 00:25:00,"00, January 01, 2015"
8,AA,0,0,0,0,1,0,0,2015-01-01 00:30:00,"00, January 01, 2015"
17,UA,0,0,0,0,1,0,0,2015-01-01 00:48:00,"00, January 01, 2015"
92,UA,1,0,0,0,1,0,0,2015-01-01 05:31:00,"05, January 01, 2015"
155,WN,0,0,0,0,1,0,0,2015-01-01 05:55:00,"05, January 01, 2015"
190,WN,0,0,0,0,1,0,0,2015-01-01 06:00:00,"06, January 01, 2015"
191,UA,0,0,0,0,1,0,0,2015-01-01 06:00:00,"06, January 01, 2015"
195,UA,1,0,0,0,1,0,0,2015-01-01 06:00:00,"06, January 01, 2015"
202,US,0,0,0,0,1,0,0,2015-01-01 06:00:00,"06, January 01, 2015"

In [23]:
TimestampYearToHour = pd.Series(sfo.Time)

for i in TimestampYearToHour.index:
    TimestampYearToHour[i] = TimestampYearToHour[i].strftime("%H, %B %d, %Y")
    
print(TimestampYearToHour)

0        00, January 01, 2015
1        01, January 01, 2015
2        02, January 01, 2015
3        03, January 01, 2015
4        04, January 01, 2015
5        05, January 01, 2015
6        06, January 01, 2015
7        07, January 01, 2015
8        08, January 01, 2015
9        09, January 01, 2015
10       10, January 01, 2015
11       11, January 01, 2015
12       12, January 01, 2015
13       13, January 01, 2015
14       14, January 01, 2015
15       15, January 01, 2015
16       16, January 01, 2015
17       17, January 01, 2015
18       18, January 01, 2015
19       19, January 01, 2015
20       20, January 01, 2015
21       21, January 01, 2015
22       22, January 01, 2015
23       23, January 01, 2015
24       00, January 02, 2015
25       01, January 02, 2015
26       02, January 02, 2015
27       03, January 02, 2015
28       04, January 02, 2015
29       05, January 02, 2015
                ...
9501    21, December 29, 2015
9502    22, December 29, 2015
9503    23, December 29, 2015
9504    00, December 30, 2015
9505    01, December 30, 2015
9506    02, December 30, 2015
9507    03, December 30, 2015
9508    04, December 30, 2015
9509    05, December 30, 2015
9510    06, December 30, 2015
9511    07, December 30, 2015
9512    08, December 30, 2015
9513    09, December 30, 2015
9514    10, December 30, 2015
9515    11, December 30, 2015
9516    12, December 30, 2015
9517    13, December 30, 2015
9518    14, December 30, 2015
9519    15, December 30, 2015
9520    16, December 30, 2015
9521    16, December 30, 2015
9522    17, December 30, 2015
9523    18, December 30, 2015
9524    19, December 30, 2015
9525    19, December 30, 2015
9526    20, December 30, 2015
9527    21, December 30, 2015
9528    22, December 30, 2015
9529    22, December 30, 2015
9530    23, December 30, 2015
Name: Time, Length: 9531, dtype: object

In [24]:
sfo['TimestampYearToHour'] = TimestampYearToHour
sfo.head(10)

,Time,Air_Temperature,Dew_Point_Temperature,Relative_Humidity,Wind_Direction,Wind_Speed,Precipitation_Per_Hour,Pressure_Altimeter,Sea_Level_Pressure,Visibility,Wind_Gust,TimestampYearToHour
0,2015-01-01 00:56:00,53.06,32.00,44.48,280.0,7.0,0.0,30.09,1018.9,10.0,NaN,"00, January 01, 2015"
1,2015-01-01 01:56:00,51.98,33.08,48.34,270.0,6.0,0.0,30.08,1018.7,10.0,NaN,"01, January 01, 2015"
2,2015-01-01 02:56:00,50.00,37.04,60.89,280.0,8.0,0.0,30.10,1019.1,10.0,NaN,"02, January 01, 2015"
3,2015-01-01 03:56:00,50.00,37.04,60.89,270.0,5.0,0.0,30.09,1018.7,10.0,NaN,"03, January 01, 2015"
4,2015-01-01 04:56:00,50.00,37.04,60.89,0.0,0.0,0.0,30.08,1018.5,10.0,NaN,"04, January 01, 2015"
5,2015-01-01 05:56:00,44.96,35.96,70.52,150.0,4.0,0.0,30.08,1018.7,10.0,NaN,"05, January 01, 2015"
6,2015-01-01 06:56:00,44.96,28.94,53.17,0.0,0.0,0.0,30.08,1018.6,10.0,NaN,"06, January 01, 2015"
7,2015-01-01 07:56:00,42.98,30.92,62.16,210.0,4.0,0.0,30.08,1018.6,10.0,NaN,"07, January 01, 2015"
8,2015-01-01 08:56:00,44.06,33.08,65.07,300.0,3.0,0.0,30.08,1018.4,10.0,NaN,"08, January 01, 2015"
9,2015-01-01 09:56:00,39.92,32.00,73.08,200.0,3.0,0.0,30.09,1018.8,10.0,NaN,"09, January 01, 2015"

In [25]:
sfo = sfo.sample(frac=1).drop_duplicates(subset='TimestampYearToHour')
sfo

,Time,Air_Temperature,Dew_Point_Temperature,Relative_Humidity,Wind_Direction,Wind_Speed,Precipitation_Per_Hour,Pressure_Altimeter,Sea_Level_Pressure,Visibility,Wind_Gust,TimestampYearToHour
3375,2015-05-10 09:56:00,51.98,46.94,82.87,250.0,7.0,0.00,30.08,1018.5,10.0,NaN,"09, May 10, 2015"
1467,2015-02-25 16:56:00,53.96,48.92,83.00,100.0,4.0,0.00,30.28,1025.5,10.0,NaN,"16, February 25, 2015"
6906,2015-09-22 00:56:00,71.06,55.04,56.93,300.0,15.0,0.00,29.71,1006.2,10.0,NaN,"00, September 22, 2015"
2256,2015-03-28 05:56:00,57.02,55.04,93.08,270.0,14.0,0.00,30.18,1021.8,10.0,NaN,"05, March 28, 2015"
1474,2015-02-25 23:19:00,64.40,51.80,63.60,290.0,16.0,0.00,30.14,NaN,10.0,NaN,"23, February 25, 2015"
3856,2015-05-27 15:31:00,57.20,48.20,71.83,240.0,7.0,0.00,30.03,NaN,10.0,NaN,"15, May 27, 2015"
3920,2015-05-30 00:41:00,57.20,50.00,76.82,270.0,19.0,0.00,29.94,NaN,10.0,26.0,"00, May 30, 2015"
508,2015-01-19 18:56:00,57.92,53.96,86.63,40.0,7.0,0.00,30.30,1026.0,10.0,NaN,"18, January 19, 2015"
5330,2015-07-22 16:56:00,64.94,53.06,65.37,260.0,16.0,0.00,29.89,1012.2,10.0,NaN,"16, July 22, 2015"
1008,2015-02-08 03:56:00,62.96,59.00,86.90,130.0,9.0,0.00,30.06,1017.9,10.0,NaN,"03, February 08, 2015"
5845,2015-08-11 11:56:00,60.08,55.94,86.18,240.0,6.0,0.00,29.91,1012.9,10.0,NaN,"11, August 11, 2015"
2657,2015-04-13 12:56:00,51.98,51.08,96.73,280.0,16.0,0.00,30.03,1016.8,10.0,NaN,"12, April 13, 2015"
750,2015-01-29 13:03:00,50.00,48.20,93.50,0.0,0.0,0.00,30.14,NaN,10.0,NaN,"13, January 29, 2015"
5374,2015-07-24 09:56:00,60.98,53.96,77.66,260.0,10.0,0.00,30.06,1018.0,10.0,16.0,"09, July 24, 2015"
2596,2015-04-10 23:56:00,62.96,41.00,44.47,280.0,15.0,0.00,30.02,1016.5,10.0,NaN,"23, April 10, 2015"
2861,2015-04-21 07:56:00,55.04,51.98,89.40,230.0,6.0,0.00,29.87,1011.5,10.0,NaN,"07, April 21, 2015"
868,2015-02-02 21:56:00,62.06,51.08,67.24,0.0,0.0,0.00,30.10,1019.4,8.0,NaN,"21, February 02, 2015"
2409,2015-04-03 09:56:00,51.98,46.04,80.10,0.0,0.0,0.00,30.18,1021.8,10.0,NaN,"09, April 03, 2015"
7723,2015-10-24 03:56:00,60.08,55.94,86.18,290.0,10.0,0.00,29.99,1015.6,10.0,NaN,"03, October 24, 2015"
7533,2015-10-17 03:56:00,62.06,53.96,74.75,250.0,10.0,0.00,29.93,1013.5,10.0,NaN,"03, October 17, 2015"
4240,2015-06-10 13:56:00,60.08,57.02,89.61,310.0,9.0,0.08,29.91,1012.8,8.0,NaN,"13, June 10, 2015"
8022,2015-11-04 06:56:00,55.94,44.06,64.28,310.0,4.0,0.00,29.95,1014.3,10.0,NaN,"06, November 04, 2015"
8391,2015-11-19 01:56:00,57.92,48.92,71.90,270.0,15.0,0.00,30.15,1020.8,10.0,NaN,"01, November 19, 2015"
14,2015-01-01 14:56:00,48.02,28.94,47.36,40.0,15.0,0.00,30.12,1019.9,10.0,NaN,"14, January 01, 2015"
6838,2015-09-19 04:56:00,60.08,53.06,77.59,290.0,9.0,0.00,29.89,1012.2,10.0,NaN,"04, September 19, 2015"
8290,2015-11-15 01:56:00,57.92,44.96,61.93,230.0,7.0,0.00,29.87,1011.5,10.0,NaN,"01, November 15, 2015"
6812,2015-09-18 02:56:00,60.08,53.96,80.19,280.0,15.0,0.00,29.99,1015.6,10.0,23.0,"02, September 18, 2015"
8619,2015-11-27 22:56:00,55.94,24.98,30.04,350.0,4.0,0.00,30.10,1019.1,10.0,NaN,"22, November 27, 2015"
3002,2015-04-26 04:56:00,53.06,42.98,68.50,290.0,16.0,0.00,30.07,1018.2,10.0,NaN,"04, April 26, 2015"
8713,2015-12-01 20:56:00,53.96,33.98,46.60,20.0,3.0,0.00,30.21,1022.9,10.0,NaN,"20, December 01, 2015"
...,...,...,...,...,...,...,...,...,...,...,...,...
2830,2015-04-20 03:56:00,55.04,53.06,93.02,270.0,10.0,0.00,29.91,1012.8,10.0,NaN,"03, April 20, 2015"
8220,2015-11-12 03:56:00,55.04,44.96,68.73,290.0,8.0,0.00,30.32,1026.6,10.0,NaN,"03, November 12, 2015"
3384,2015-05-10 17:56:00,55.94,46.94,71.70,260.0,12.0,0.00,30.09,1019.0,10.0,NaN,"17, May 10, 2015"
6894,2015-09-21 12:56:00,68.00,51.08,54.66,0.0,0.0,0.00,29.79,1008.6,10.0,NaN,"12, September 21, 2015"
6937,2015-09-23 07:56:00,57.92,50.00,74.86,230.0,5.0,0.00,29.98,1015.3,10.0,NaN,"07, September 23, 2015"
6253,2015-08-27 06:56:00,64.04,55.04,72.53,290.0,9.0,0.00,30.02,1016.5,10.0,NaN,"06, August 27, 2015"
7784,2015-10-26 10:56:00,59.00,57.92,96.20,0.0,0.0,0.00,29.99,1015.5,10.0,NaN,"10, October 26, 2015"
7763,2015-10-25 17:56:00,66.02,57.02,72.72,300.0,8.0,0.00,30.03,1016.8,10.0,NaN,"17, October 25, 2015"
4722,2015-06-29 14:56:00,57.02,53.06,86.58,280.0,4.0,0.00,30.02,1016.7,10.0,NaN,"14, June 29, 2015"
6904,2015-09-21 22:56:00,80.96,55.04,40.94,290.0,17.0,0.00,29.72,1006.2,10.0,NaN,"22, September 21, 2015"
7552,2015-10-17 21:56:00,69.08,57.92,67.59,260.0,13.0,0.00,29.96,1014.6,10.0,NaN,"21, October 17, 2015"
8880,2015-12-08 02:56:00,57.92,51.98,80.55,280.0,5.0,0.00,30.27,1025.0,10.0,NaN,"02, December 08, 2015"
7338,2015-10-10 00:56:00,69.08,57.92,67.59,270.0,18.0,0.00,30.00,1015.9,10.0,NaN,"00, October 10, 2015"
3817,2015-05-26 07:56:00,55.04,50.00,83.08,250.0,4.0,0.00,30.01,1016.1,10.0,NaN,"07, May 26, 2015"
7503,2015-10-16 00:56:00,62.96,57.02,80.93,280.0,12.0,0.00,29.92,1013.1,10.0,NaN,"00, October 16, 2015"
901,2015-02-04 06:56:00,57.02,55.94,96.17,0.0,0.0,0.00,30.07,1018.2,10.0,NaN,"06, February 04, 2015"
4388,2015-06-16 08:56:00,53.96,50.00,86.41,260.0,9.0,0.00,29.95,1014.1,10.0,NaN,"08, June 16, 2015"
2576,2015-04-10 03:56:00,57.02,46.04,66.65,270.0,15.0,0.00,29.98,1015.1,10.0,NaN,"03, April 10, 2015"
6468,2015-09-04 13:56:00,55.94,48.02,74.67,200.0,6.0,0.00,29.86,1011.1,10.0,NaN,"13, September 04, 2015"
6883,2015-09-21 01:56:00,80.96,48.92,32.67,280.0,14.0,0.00,29.78,1008.5,10.0,NaN,"01, September 21, 2015"
714,2015-01-28 02:56:00,60.08,51.08,72.13,0.0,0.0,0.00,30.23,1023.6,10.0,NaN,"02, January 28, 2015"
6400,2015-09-01 20:56:00,73.94,53.96,49.66,250.0,10.0,0.00,29.88,1011.8,10.0,NaN,"20, September 01, 2015"
3539,2015-05-16 12:56:00,53.96,48.02,80.25,260.0,13.0,0.00,29.98,1015.0,10.0,20.0,"12, May 16, 2015"
5134,2015-07-15 05:56:00,60.98,55.94,83.47,240.0,7.0,0.00,29.90,1012.5,10.0,NaN,"05, July 15, 2015"
7981,2015-11-02 15:56:00,55.94,53.06,90.03,280.0,11.0,0.11,29.88,1011.6,8.0,NaN,"15, November 02, 2015"
9094,2015-12-15 06:56:00,48.92,37.94,65.67,310.0,6.0,0.00,30.13,1020.4,10.0,NaN,"06, December 15, 2015"
4984,2015-07-09 13:56:00,59.00,55.94,89.57,210.0,4.0,0.00,29.86,1011.2,10.0,NaN,"13, July 09, 2015"
3321,2015-05-08 10:56:00,53.06,44.96,73.89,0.0,0.0,0.00,29.79,1008.9,10.0,NaN,"10, May 08, 2015"
1235,2015-02-16 21:56:00,68.00,57.02,67.91,290.0,7.0,0.00,29.97,1014.7,10.0,NaN,"21, February 16, 2015"
6508,2015-09-06 05:56:00,64.04,44.96,49.85,0.0,0.0,0.00,29.96,1014.4,10.0,NaN,"05, September 06, 2015"

In [26]:
mergedTable = pd.merge(flights_sfo, sfo, how='inner', on='TimestampYearToHour')
mergedTable[['Time','Timestamp', 'TimestampYearToHour']]

                      Time           Timestamp    TimestampYearToHour
0      2015-01-01 00:56:00 2015-01-01 00:20:00   00, January 01, 2015
1      2015-01-01 00:56:00 2015-01-01 00:25:00   00, January 01, 2015
2      2015-01-01 00:56:00 2015-01-01 00:30:00   00, January 01, 2015
3      2015-01-01 00:56:00 2015-01-01 00:48:00   00, January 01, 2015
4      2015-01-01 05:56:00 2015-01-01 05:31:00   05, January 01, 2015
5      2015-01-01 05:56:00 2015-01-01 05:55:00   05, January 01, 2015
6      2015-01-01 06:56:00 2015-01-01 06:00:00   06, January 01, 2015
7      2015-01-01 06:56:00 2015-01-01 06:00:00   06, January 01, 2015
8      2015-01-01 06:56:00 2015-01-01 06:00:00   06, January 01, 2015
9      2015-01-01 06:56:00 2015-01-01 06:00:00   06, January 01, 2015
10     2015-01-01 06:56:00 2015-01-01 06:00:00   06, January 01, 2015
11     2015-01-01 06:56:00 2015-01-01 06:00:00   06, January 01, 2015
12     2015-01-01 06:56:00 2015-01-01 06:01:00   06, January 01, 2015
13     2015-01-01 06:56:00 2015-01-01 06:05:00   06, January 01, 2015
14     2015-01-01 06:56:00 2015-01-01 06:05:00   06, January 01, 2015
15     2015-01-01 06:56:00 2015-01-01 06:06:00   06, January 01, 2015
16     2015-01-01 06:56:00 2015-01-01 06:15:00   06, January 01, 2015
17     2015-01-01 06:56:00 2015-01-01 06:30:00   06, January 01, 2015
18     2015-01-01 06:56:00 2015-01-01 06:30:00   06, January 01, 2015
19     2015-01-01 06:56:00 2015-01-01 06:30:00   06, January 01, 2015
20     2015-01-01 06:56:00 2015-01-01 06:40:00   06, January 01, 2015
21     2015-01-01 06:56:00 2015-01-01 06:45:00   06, January 01, 2015
22     2015-01-01 06:56:00 2015-01-01 06:55:00   06, January 01, 2015
23     2015-01-01 07:56:00 2015-01-01 07:00:00   07, January 01, 2015
24     2015-01-01 07:56:00 2015-01-01 07:00:00   07, January 01, 2015
25     2015-01-01 07:56:00 2015-01-01 07:00:00   07, January 01, 2015
26     2015-01-01 07:56:00 2015-01-01 07:00:00   07, January 01, 2015
27     2015-01-01 07:56:00 2015-01-01 07:00:00   07, January 01, 2015
28     2015-01-01 07:56:00 2015-01-01 07:04:00   07, January 01, 2015
29     2015-01-01 07:56:00 2015-01-01 07:05:00   07, January 01, 2015
...                    ...                 ...                    ...
147285 2015-12-30 22:56:00 2015-12-30 22:45:00  22, December 30, 2015
147286 2015-12-30 22:56:00 2015-12-30 22:45:00  22, December 30, 2015
147287 2015-12-30 22:56:00 2015-12-30 22:46:00  22, December 30, 2015
147288 2015-12-30 22:56:00 2015-12-30 22:47:00  22, December 30, 2015
147289 2015-12-30 22:56:00 2015-12-30 22:49:00  22, December 30, 2015
147290 2015-12-30 22:56:00 2015-12-30 22:50:00  22, December 30, 2015
147291 2015-12-30 22:56:00 2015-12-30 22:52:00  22, December 30, 2015
147292 2015-12-30 22:56:00 2015-12-30 22:53:00  22, December 30, 2015
147293 2015-12-30 22:56:00 2015-12-30 22:55:00  22, December 30, 2015
147294 2015-12-30 22:56:00 2015-12-30 22:55:00  22, December 30, 2015
147295 2015-12-30 22:56:00 2015-12-30 22:59:00  22, December 30, 2015
147296 2015-12-30 23:56:00 2015-12-30 23:00:00  23, December 30, 2015
147297 2015-12-30 23:56:00 2015-12-30 23:00:00  23, December 30, 2015
147298 2015-12-30 23:56:00 2015-12-30 23:01:00  23, December 30, 2015
147299 2015-12-30 23:56:00 2015-12-30 23:03:00  23, December 30, 2015
147300 2015-12-30 23:56:00 2015-12-30 23:04:00  23, December 30, 2015
147301 2015-12-30 23:56:00 2015-12-30 23:04:00  23, December 30, 2015
147302 2015-12-30 23:56:00 2015-12-30 23:05:00  23, December 30, 2015
147303 2015-12-30 23:56:00 2015-12-30 23:05:00  23, December 30, 2015
147304 2015-12-30 23:56:00 2015-12-30 23:08:00  23, December 30, 2015
147305 2015-12-30 23:56:00 2015-12-30 23:11:00  23, December 30, 2015
147306 2015-12-30 23:56:00 2015-12-30 23:15:00  23, December 30, 2015
147307 2015-12-30 23:56:00 2015-12-30 23:15:00  23, December 30, 2015
147308 2015-12-30 23:56:00 2015-12-30 23:25:00  23, December 30, 2015
147309 2015-12-30 23:56:00 2015-12-30 23:30:00  23, December 30, 2015
147310 2015-12-30 23:56:00 2015-12-30 23:45:00  23, December 30, 2015
147311 2015-12-30 23:56:00 2015-12-30 23:49:00  23, December 30, 2015
147312 2015-12-30 23:56:00 2015-12-30 23:50:00  23, December 30, 2015
147313 2015-12-30 23:56:00 2015-12-30 23:54:00  23, December 30, 2015
147314 2015-12-30 23:56:00 2015-12-30 23:59:00  23, December 30, 2015

[147315 rows x 3 columns]

In [27]:
mergedTable.drop(['Time', 'TimestampYearToHour'], axis=1, inplace=True)

In [28]:
mergedTable.head(10)

,AIRLINE,DEPARTURE_DELAY,Mon,Tue,Wed,Thu,Fri,Sat,Timestamp,Air_Temperature,Dew_Point_Temperature,Relative_Humidity,Wind_Direction,Wind_Speed,Precipitation_Per_Hour,Pressure_Altimeter,Sea_Level_Pressure,Visibility,Wind_Gust
0,US,0,0,0,0,1,0,0,2015-01-01 00:20:00,53.06,32.00,44.48,280.0,7.0,0.0,30.09,1018.9,10.0,NaN
1,DL,0,0,0,0,1,0,0,2015-01-01 00:25:00,53.06,32.00,44.48,280.0,7.0,0.0,30.09,1018.9,10.0,NaN
2,AA,0,0,0,0,1,0,0,2015-01-01 00:30:00,53.06,32.00,44.48,280.0,7.0,0.0,30.09,1018.9,10.0,NaN
3,UA,0,0,0,0,1,0,0,2015-01-01 00:48:00,53.06,32.00,44.48,280.0,7.0,0.0,30.09,1018.9,10.0,NaN
4,UA,1,0,0,0,1,0,0,2015-01-01 05:31:00,44.96,35.96,70.52,150.0,4.0,0.0,30.08,1018.7,10.0,NaN
5,WN,0,0,0,0,1,0,0,2015-01-01 05:55:00,44.96,35.96,70.52,150.0,4.0,0.0,30.08,1018.7,10.0,NaN
6,WN,0,0,0,0,1,0,0,2015-01-01 06:00:00,44.96,28.94,53.17,0.0,0.0,0.0,30.08,1018.6,10.0,NaN
7,UA,0,0,0,0,1,0,0,2015-01-01 06:00:00,44.96,28.94,53.17,0.0,0.0,0.0,30.08,1018.6,10.0,NaN
8,UA,1,0,0,0,1,0,0,2015-01-01 06:00:00,44.96,28.94,53.17,0.0,0.0,0.0,30.08,1018.6,10.0,NaN
9,US,0,0,0,0,1,0,0,2015-01-01 06:00:00,44.96,28.94,53.17,0.0,0.0,0.0,30.08,1018.6,10.0,NaN

In [29]:
missing_df = mergedTable.isnull().sum(axis=0).reset_index()
missing_df.columns = ['variable', 'missing values']
missing_df['filling factor (%)']=(sfo.shape[0]-missing_df['missing values'])/sfo.shape[0]*100
missing_df.sort_values('filling factor (%)').reset_index(drop = True)

                  variable  missing values  filling factor (%)
0                Wind_Gust          134888        -1450.080441
1       Sea_Level_Pressure            7483           14.008274
2           Wind_Direction            1283           85.256263
3       Pressure_Altimeter               0          100.000000
4   Precipitation_Per_Hour               0          100.000000
5               Wind_Speed               0          100.000000
6        Relative_Humidity               0          100.000000
7    Dew_Point_Temperature               0          100.000000
8               Visibility               0          100.000000
9                  AIRLINE               0          100.000000
10                     Sat               0          100.000000
11                     Fri               0          100.000000
12                     Thu               0          100.000000
13                     Wed               0          100.000000
14                     Tue               0          100.000000
15                     Mon               0          100.000000
16         DEPARTURE_DELAY               0          100.000000
17               Timestamp               0          100.000000
18         Air_Temperature               0          100.000000

In [30]:
mergedTable.drop(['Wind_Gust', 'Sea_Level_Pressure'], axis=1, inplace=True)
mergedTable.head()

,AIRLINE,DEPARTURE_DELAY,Mon,Tue,Wed,Thu,Fri,Sat,Timestamp,Air_Temperature,Dew_Point_Temperature,Relative_Humidity,Wind_Direction,Wind_Speed,Precipitation_Per_Hour,Pressure_Altimeter,Visibility
0,US,0,0,0,0,1,0,0,2015-01-01 00:20:00,53.06,32.00,44.48,280.0,7.0,0.0,30.09,10.0
1,DL,0,0,0,0,1,0,0,2015-01-01 00:25:00,53.06,32.00,44.48,280.0,7.0,0.0,30.09,10.0
2,AA,0,0,0,0,1,0,0,2015-01-01 00:30:00,53.06,32.00,44.48,280.0,7.0,0.0,30.09,10.0
3,UA,0,0,0,0,1,0,0,2015-01-01 00:48:00,53.06,32.00,44.48,280.0,7.0,0.0,30.09,10.0
4,UA,1,0,0,0,1,0,0,2015-01-01 05:31:00,44.96,35.96,70.52,150.0,4.0,0.0,30.08,10.0

In [31]:
mergedTable.describe(include = 'all')

,AIRLINE,DEPARTURE_DELAY,Mon,Tue,Wed,Thu,Fri,Sat,Timestamp,Air_Temperature,Dew_Point_Temperature,Relative_Humidity,Wind_Direction,Wind_Speed,Precipitation_Per_Hour,Pressure_Altimeter,Visibility
count,147315,147315.000000,147315.000000,147315.000000,147315.000000,147315.000000,147315.000000,147315.000000,147315,147315.000000,147315.000000,147315.000000,146032.000000,147315.000000,147315.000000,147315.000000,147315.000000
unique,11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,89354,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,UA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2015-05-03 10:40:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,45377,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
first,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2015-01-01 00:20:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
last,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2015-12-30 23:59:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,NaN,0.396959,0.150107,0.146462,0.147351,0.146570,0.147527,0.120056,NaN,58.105344,49.825325,75.728266,191.029569,7.268160,0.001050,30.023798,9.658526
std,NaN,0.489269,0.357177,0.353570,0.354457,0.353678,0.354632,0.325028,NaN,7.496518,6.678583,15.221595,118.137181,5.808261,0.011667,0.136004,1.228289
min,NaN,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,NaN,35.060000,19.940000,16.140000,0.000000,0.000000,0.000000,29.710000,0.120000
25%,NaN,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,NaN,53.060000,46.940000,66.560000,60.000000,3.000000,0.000000,29.920000,10.000000
50%,NaN,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,NaN,57.920000,51.080000,77.750000,250.000000,6.000000,0.000000,30.010000,10.000000
75%,NaN,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,NaN,62.060000,55.040000,86.520000,280.000000,11.000000,0.000000,30.110000,10.000000
max,NaN,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,NaN,91.940000,64.940000,100.000000,360.000000,32.000000,0.500000,30.460000,10.000000