In [1]:
import pandas as pd
import numpy as np

In [2]:
airport_path = "/Users/xiaoxiaoren/Documents/sjsu s2 class/257 Machine Learning/project/groupProject/dataset/flight-delays/airports.csv"
airline_path = "/Users/xiaoxiaoren/Documents/sjsu s2 class/257 Machine Learning/project/groupProject/dataset/flight-delays/airlines.csv"
flights_path  ="/Users/xiaoxiaoren/Documents/sjsu s2 class/257 Machine Learning/project/groupProject/dataset/flight-delays/flights.csv"

In [3]:
airports = pd.read_csv(airport_path)

In [4]:
airlines = pd.read_csv(airline_path)

In [5]:
flights = pd.read_csv(flights_path)

/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (7,8) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [6]:
len(flights.columns)

31

In [7]:
flights_sfo = flights.drop([ 'DIVERTED','TAXI_OUT',
 'WHEELS_OFF','WHEELS_ON',
 'TAXI_IN',
 'SCHEDULED_ARRIVAL',
 'ARRIVAL_TIME',
 'ARRIVAL_DELAY','CANCELLED',
 'CANCELLATION_REASON',
 'AIR_SYSTEM_DELAY',
 'SECURITY_DELAY',
 'AIRLINE_DELAY',
 'LATE_AIRCRAFT_DELAY',
 'WEATHER_DELAY',
'SCHEDULED_TIME',
 'ELAPSED_TIME',
 'AIR_TIME',
 'DISTANCE',
    'DESTINATION_AIRPORT',
    'DEPARTURE_TIME','TAIL_NUMBER',
                           ], axis=1)

In [8]:
flights_sfo.drop(['FLIGHT_NUMBER'], axis=1, inplace=True)

In [9]:
flights_sfo.columns

Index(['YEAR', 'MONTH', 'DAY', 'DAY_OF_WEEK', 'AIRLINE', 'ORIGIN_AIRPORT',
       'SCHEDULED_DEPARTURE', 'DEPARTURE_DELAY'],
      dtype='object')

In [10]:
flights_sfo = flights_sfo.loc[flights['ORIGIN_AIRPORT'] == 'SFO']
flights_sfo.head(10)

,YEAR,MONTH,DAY,DAY_OF_WEEK,AIRLINE,ORIGIN_AIRPORT,SCHEDULED_DEPARTURE,DEPARTURE_DELAY
2,2015,1,1,4,US,SFO,20,-2.0
5,2015,1,1,4,DL,SFO,25,-5.0
8,2015,1,1,4,AA,SFO,30,-11.0
17,2015,1,1,4,UA,SFO,48,-6.0
92,2015,1,1,4,UA,SFO,531,19.0
155,2015,1,1,4,WN,SFO,555,-2.0
190,2015,1,1,4,WN,SFO,600,-6.0
191,2015,1,1,4,UA,SFO,600,-3.0
195,2015,1,1,4,UA,SFO,600,5.0
202,2015,1,1,4,US,SFO,600,-3.0

In [11]:
flights_sfo['DEPARTURE_DELAY'] = np.where(flights_sfo['DEPARTURE_DELAY']>0, 1, 0)
flights_sfo.tail(10)

,YEAR,MONTH,DAY,DAY_OF_WEEK,AIRLINE,ORIGIN_AIRPORT,SCHEDULED_DEPARTURE,DEPARTURE_DELAY
5818966,2015,12,31,4,UA,SFO,2304,0
5818967,2015,12,31,4,UA,SFO,2304,1
5818971,2015,12,31,4,UA,SFO,2308,1
5818973,2015,12,31,4,UA,SFO,2309,0
5818981,2015,12,31,4,UA,SFO,2313,0
5819000,2015,12,31,4,OO,SFO,2325,0
5819005,2015,12,31,4,OO,SFO,2330,0
5819007,2015,12,31,4,UA,SFO,2330,0
5819024,2015,12,31,4,UA,SFO,2343,0
5819041,2015,12,31,4,UA,SFO,2354,0

In [23]:
dummy = pd.get_dummies(flights_sfo.DAY_OF_WEEK)
dummy.drop(dummy.columns[len(dummy.columns)-1], axis=1, inplace=True)
dummy.columns = ['Mon', 'Tue','Wed','Thu','Fri','Sat']
flights_sfo = pd.concat([flights_sfo,dummy],axis=1)
flights_sfo.drop(['DAY_OF_WEEK','ORIGIN_AIRPORT'], axis=1, inplace=True)

In [24]:
flights_sfo.SCHEDULED_DEPARTURE=flights_sfo.SCHEDULED_DEPARTURE.apply(lambda x: str(x).zfill(4))
flights_sfo.SCHEDULED_DEPARTURE = flights_sfo.SCHEDULED_DEPARTURE.str[:2] + ':' + flights_sfo.SCHEDULED_DEPARTURE.str[-2:]
flights_sfo_datetime = pd.to_datetime(dict(year=flights_sfo.YEAR, month=flights_sfo.MONTH, day=flights_sfo.DAY,hour =flights_sfo.SCHEDULED_DEPARTURE.str[:2],minute =flights_sfo.SCHEDULED_DEPARTURE.str[3:] ))
flights_sfo = pd.concat([flights_sfo,flights_sfo_datetime],axis=1)
flights_sfo.drop(['YEAR','MONTH','DAY','SCHEDULED_DEPARTURE'], axis=1, inplace=True)

In [25]:
flights_sfo.rename(columns={flights_sfo.columns[-1]: 'Timestamp'}, inplace=True)
flights_sfo.head()

   AIRLINE  DEPARTURE_DELAY  Mon  Tue  Wed  Thu  Fri  Sat           Timestamp
2       US                0    0    0    0    1    0    0 2015-01-01 00:20:00
5       DL                0    0    0    0    1    0    0 2015-01-01 00:25:00
8       AA                0    0    0    0    1    0    0 2015-01-01 00:30:00
17      UA                0    0    0    0    1    0    0 2015-01-01 00:48:00
92      UA                1    0    0    0    1    0    0 2015-01-01 05:31:00

In [72]:
flights_sfo.Timestamp.tail(10)

5818966   2015-12-31 23:04:00
5818967   2015-12-31 23:04:00
5818971   2015-12-31 23:08:00
5818973   2015-12-31 23:09:00
5818981   2015-12-31 23:13:00
5819000   2015-12-31 23:25:00
5819005   2015-12-31 23:30:00
5819007   2015-12-31 23:30:00
5819024   2015-12-31 23:43:00
5819041   2015-12-31 23:54:00
Name: Timestamp, dtype: datetime64[ns]

In [116]:
sfo = pd.read_csv("/Users/xiaoxiaoren/Documents/sjsu s2 class/257 Machine Learning/project/groupProject/dataset/SFO.csv", encoding="ascii")

In [117]:
sfo_dropList = ['station', 'skyc1', 'skyc2', 'skyc3', 'skyc4', 'skyl1', 'skyl2', 'skyl3', 'skyl4', 'wxcodes', 'metar']
sfo.drop(sfo_dropList, axis=1, inplace=True)
sfo.head(10)

,valid,tmpf,dwpf,relh,drct,sknt,p01i,alti,mslp,vsby,gust
0,2015-01-01 00:56,53.06,32,44.48,280,7,0.0,30.09,1018.9,10,M
1,2015-01-01 01:56,51.98,33.08,48.34,270,6,0.0,30.08,1018.7,10,M
2,2015-01-01 02:56,50,37.04,60.89,280,8,0.0,30.1,1019.1,10,M
3,2015-01-01 03:56,50,37.04,60.89,270,5,0.0,30.09,1018.7,10,M
4,2015-01-01 04:56,50,37.04,60.89,0,0,0.0,30.08,1018.5,10,M
5,2015-01-01 05:56,44.96,35.96,70.52,150,4,0.0,30.08,1018.7,10,M
6,2015-01-01 06:56,44.96,28.94,53.17,0,0,0.0,30.08,1018.6,10,M
7,2015-01-01 07:56,42.98,30.92,62.16,210,4,0.0,30.08,1018.6,10,M
8,2015-01-01 08:56,44.06,33.08,65.07,300,3,0.0,30.08,1018.4,10,M
9,2015-01-01 09:56,39.92,32,73.08,200,3,0.0,30.09,1018.8,10,M

In [119]:
sfo['valid']= pd.to_datetime(sfo['valid'], format='%Y%m%d %H:%M')
sfo.head(10)

,valid,tmpf,dwpf,relh,drct,sknt,p01i,alti,mslp,vsby,gust
0,2015-01-01 00:56:00,53.06,32,44.48,280,7,0.0,30.09,1018.9,10,M
1,2015-01-01 01:56:00,51.98,33.08,48.34,270,6,0.0,30.08,1018.7,10,M
2,2015-01-01 02:56:00,50,37.04,60.89,280,8,0.0,30.1,1019.1,10,M
3,2015-01-01 03:56:00,50,37.04,60.89,270,5,0.0,30.09,1018.7,10,M
4,2015-01-01 04:56:00,50,37.04,60.89,0,0,0.0,30.08,1018.5,10,M
5,2015-01-01 05:56:00,44.96,35.96,70.52,150,4,0.0,30.08,1018.7,10,M
6,2015-01-01 06:56:00,44.96,28.94,53.17,0,0,0.0,30.08,1018.6,10,M
7,2015-01-01 07:56:00,42.98,30.92,62.16,210,4,0.0,30.08,1018.6,10,M
8,2015-01-01 08:56:00,44.06,33.08,65.07,300,3,0.0,30.08,1018.4,10,M
9,2015-01-01 09:56:00,39.92,32,73.08,200,3,0.0,30.09,1018.8,10,M

In [125]:
sfo.rename(columns={"valid": "Time", "tmpf": "Air_Temperature", "dwpf": "Dew_Point_Temperature", 
                    "relh": "Relative_Humidity", "drct": "Wind_Direction", "sknt": "Wind_Speed",
                    "p01i": "Precipitation_Per_Hour", "alti": "Pressure_Altimeter", "mslp": "Sea_Level_Pressure",
                    "vsby": "Visibility", "gust": "Wind_Gust"}, inplace = True)

In [174]:
TimestampYearToHour = pd.Series(flights_sfo.Timestamp)

for i in TimestampYearToHour.index:
    TimestampYearToHour[i] = TimestampYearToHour[i].strftime("%H, %B %d, %Y")
    
print(TimestampYearToHour)

2           00, January 01, 2015
5           00, January 01, 2015
8           00, January 01, 2015
17          00, January 01, 2015
92          05, January 01, 2015
155         05, January 01, 2015
190         06, January 01, 2015
191         06, January 01, 2015
195         06, January 01, 2015
202         06, January 01, 2015
214         06, January 01, 2015
302         06, January 01, 2015
363         06, January 01, 2015
395         06, January 01, 2015
401         06, January 01, 2015
416         06, January 01, 2015
482         06, January 01, 2015
588         06, January 01, 2015
607         06, January 01, 2015
630         06, January 01, 2015
687         06, January 01, 2015
707         06, January 01, 2015
809         06, January 01, 2015
843         07, January 01, 2015
845         07, January 01, 2015
870         07, January 01, 2015
892         07, January 01, 2015
918         07, January 01, 2015
983         07, January 01, 2015
985         07, January 01, 2015
                   ...
5818716    21, December 31, 2015
5818717    21, December 31, 2015
5818756    21, December 31, 2015
5818854    22, December 31, 2015
5818885    22, December 31, 2015
5818887    22, December 31, 2015
5818897    22, December 31, 2015
5818900    22, December 31, 2015
5818906    22, December 31, 2015
5818916    22, December 31, 2015
5818922    22, December 31, 2015
5818923    22, December 31, 2015
5818926    22, December 31, 2015
5818934    22, December 31, 2015
5818941    22, December 31, 2015
5818942    22, December 31, 2015
5818945    22, December 31, 2015
5818954    22, December 31, 2015
5818960    23, December 31, 2015
5818961    23, December 31, 2015
5818966    23, December 31, 2015
5818967    23, December 31, 2015
5818971    23, December 31, 2015
5818973    23, December 31, 2015
5818981    23, December 31, 2015
5819000    23, December 31, 2015
5819005    23, December 31, 2015
5819007    23, December 31, 2015
5819024    23, December 31, 2015
5819041    23, December 31, 2015
Name: Timestamp, Length: 148008, dtype: object

In [176]:
flights_sfo['TimestampYearToHour'] = TimestampYearToHour
flights_sfo.head(10)

,AIRLINE,DEPARTURE_DELAY,Mon,Tue,Wed,Thu,Fri,Sat,Timestamp,TimestampYearToHour
2,US,0,0,0,0,1,0,0,2015-01-01 00:20:00,"00, January 01, 2015"
5,DL,0,0,0,0,1,0,0,2015-01-01 00:25:00,"00, January 01, 2015"
8,AA,0,0,0,0,1,0,0,2015-01-01 00:30:00,"00, January 01, 2015"
17,UA,0,0,0,0,1,0,0,2015-01-01 00:48:00,"00, January 01, 2015"
92,UA,1,0,0,0,1,0,0,2015-01-01 05:31:00,"05, January 01, 2015"
155,WN,0,0,0,0,1,0,0,2015-01-01 05:55:00,"05, January 01, 2015"
190,WN,0,0,0,0,1,0,0,2015-01-01 06:00:00,"06, January 01, 2015"
191,UA,0,0,0,0,1,0,0,2015-01-01 06:00:00,"06, January 01, 2015"
195,UA,1,0,0,0,1,0,0,2015-01-01 06:00:00,"06, January 01, 2015"
202,US,0,0,0,0,1,0,0,2015-01-01 06:00:00,"06, January 01, 2015"

In [177]:
TimestampYearToHour = pd.Series(sfo.Time)

for i in TimestampYearToHour.index:
    TimestampYearToHour[i] = TimestampYearToHour[i].strftime("%H, %B %d, %Y")
    
print(TimestampYearToHour)

0        00, January 01, 2015
1        01, January 01, 2015
2        02, January 01, 2015
3        03, January 01, 2015
4        04, January 01, 2015
5        05, January 01, 2015
6        06, January 01, 2015
7        07, January 01, 2015
8        08, January 01, 2015
9        09, January 01, 2015
10       10, January 01, 2015
11       11, January 01, 2015
12       12, January 01, 2015
13       13, January 01, 2015
14       14, January 01, 2015
15       15, January 01, 2015
16       16, January 01, 2015
17       17, January 01, 2015
18       18, January 01, 2015
19       19, January 01, 2015
20       20, January 01, 2015
21       21, January 01, 2015
22       22, January 01, 2015
23       23, January 01, 2015
24       00, January 02, 2015
25       01, January 02, 2015
26       02, January 02, 2015
27       03, January 02, 2015
28       04, January 02, 2015
29       05, January 02, 2015
                ...
9501    21, December 29, 2015
9502    22, December 29, 2015
9503    23, December 29, 2015
9504    00, December 30, 2015
9505    01, December 30, 2015
9506    02, December 30, 2015
9507    03, December 30, 2015
9508    04, December 30, 2015
9509    05, December 30, 2015
9510    06, December 30, 2015
9511    07, December 30, 2015
9512    08, December 30, 2015
9513    09, December 30, 2015
9514    10, December 30, 2015
9515    11, December 30, 2015
9516    12, December 30, 2015
9517    13, December 30, 2015
9518    14, December 30, 2015
9519    15, December 30, 2015
9520    16, December 30, 2015
9521    16, December 30, 2015
9522    17, December 30, 2015
9523    18, December 30, 2015
9524    19, December 30, 2015
9525    19, December 30, 2015
9526    20, December 30, 2015
9527    21, December 30, 2015
9528    22, December 30, 2015
9529    22, December 30, 2015
9530    23, December 30, 2015
Name: Time, Length: 9531, dtype: object

In [178]:
sfo['TimestampYearToHour'] = TimestampYearToHour
sfo.head(10)

,Time,AirTemperature,DewPointTemperature,RelativeHumidity,WindDirection,WindSpeed,PrecipitationPerHour,PressureAltimeter,SeaLevelPressure,Visibility,WindGust,TimestampYearToHour
0,2015-01-01 00:56:00,53.06,32,44.48,280,7,0.0,30.09,1018.9,10,M,"00, January 01, 2015"
1,2015-01-01 01:56:00,51.98,33.08,48.34,270,6,0.0,30.08,1018.7,10,M,"01, January 01, 2015"
2,2015-01-01 02:56:00,50,37.04,60.89,280,8,0.0,30.1,1019.1,10,M,"02, January 01, 2015"
3,2015-01-01 03:56:00,50,37.04,60.89,270,5,0.0,30.09,1018.7,10,M,"03, January 01, 2015"
4,2015-01-01 04:56:00,50,37.04,60.89,0,0,0.0,30.08,1018.5,10,M,"04, January 01, 2015"
5,2015-01-01 05:56:00,44.96,35.96,70.52,150,4,0.0,30.08,1018.7,10,M,"05, January 01, 2015"
6,2015-01-01 06:56:00,44.96,28.94,53.17,0,0,0.0,30.08,1018.6,10,M,"06, January 01, 2015"
7,2015-01-01 07:56:00,42.98,30.92,62.16,210,4,0.0,30.08,1018.6,10,M,"07, January 01, 2015"
8,2015-01-01 08:56:00,44.06,33.08,65.07,300,3,0.0,30.08,1018.4,10,M,"08, January 01, 2015"
9,2015-01-01 09:56:00,39.92,32,73.08,200,3,0.0,30.09,1018.8,10,M,"09, January 01, 2015"

In [190]:
sfo = sfo.sample(frac=1).drop_duplicates(subset='TimestampYearToHour')
sfo

,Time,AirTemperature,DewPointTemperature,RelativeHumidity,WindDirection,WindSpeed,PrecipitationPerHour,PressureAltimeter,SeaLevelPressure,Visibility,WindGust,TimestampYearToHour
7743,2015-10-24 21:56:00,64.94,55.94,72.62,290,20,0.00,29.95,1014.2,10,M,"21, October 24, 2015"
5986,2015-08-16 20:56:00,80.06,64.94,59.99,360,6,0.00,29.86,1011.1,10,M,"20, August 16, 2015"
5863,2015-08-12 04:56:00,62.06,55.94,80.34,260,9,0.00,29.98,1015.1,10,M,"04, August 12, 2015"
1183,2015-02-14 17:56:00,60.98,57.02,86.79,0,0,0.00,30.12,1019.9,10,M,"17, February 14, 2015"
169,2015-01-08 00:56:00,57.02,48.02,71.81,20,4,0.00,30.1,1019.2,10,M,"00, January 08, 2015"
6700,2015-09-13 22:56:00,66.02,55.94,69.94,300,16,0.00,29.76,1007.6,10,M,"22, September 13, 2015"
4175,2015-06-07 22:56:00,66.92,53.96,63.08,300,21,0.00,29.85,1010.6,10,27,"22, June 07, 2015"
5746,2015-08-07 23:56:00,73.94,55.94,53.37,210,11,0.00,29.86,1011.2,10,M,"23, August 07, 2015"
9471,2015-12-28 15:56:00,41,35.06,79.21,30,7,0.00,30.09,1019,10,M,"15, December 28, 2015"
5307,2015-07-21 19:56:00,69.08,57.02,65.44,270,13,0.00,29.91,1012.8,10,18,"19, July 21, 2015"
2366,2015-04-01 14:56:00,51.98,42.08,68.86,280,9,0.00,30.19,1022.4,10,M,"14, April 01, 2015"
5505,2015-07-29 15:56:00,66.02,57.02,72.72,300,5,0.00,29.92,1013,10,M,"15, July 29, 2015"
7236,2015-10-05 22:56:00,73.04,53.06,49.52,190,14,0.00,29.87,1011.3,10,M,"22, October 05, 2015"
6830,2015-09-18 20:56:00,78.08,53.06,41.86,300,11,0.00,29.93,1013.3,10,M,"20, September 18, 2015"
8566,2015-11-25 18:56:00,50,39.92,68.15,360,6,0.00,29.95,1014.3,10,M,"18, November 25, 2015"
981,2015-02-07 07:56:00,64.94,62.96,93.3,190,27,0.00,29.9,1012.5,7,35,"07, February 07, 2015"
8910,2015-12-08 19:56:00,57.02,53.06,86.58,100,5,0.00,30.24,1023.9,8,M,"19, December 08, 2015"
2491,2015-04-06 15:56:00,53.96,44.96,71.49,110,5,0.00,29.97,1014.8,10,M,"15, April 06, 2015"
4965,2015-07-08 22:56:00,64.94,55.04,70.28,260,14,0.00,29.86,1011.1,10,M,"22, July 08, 2015"
3721,2015-05-23 03:56:00,57.92,50,74.86,260,9,0.00,30.07,1018.2,10,18,"03, May 23, 2015"
6057,2015-08-19 14:56:00,62.06,55.04,77.75,210,4,0.00,29.95,1014.1,9,M,"14, August 19, 2015"
7746,2015-10-25 00:56:00,62.96,55.04,75.33,290,11,0.00,29.93,1013.5,10,M,"00, October 25, 2015"
934,2015-02-05 14:56:00,55.04,51.08,86.47,0,0,0.00,30.01,1016.1,10,M,"14, February 05, 2015"
3520,2015-05-15 19:56:00,60.98,46.04,57.84,270,15,0.00,29.96,1014.6,10,21,"19, May 15, 2015"
7662,2015-10-21 15:56:00,62.96,55.04,75.33,170,3,0.00,29.98,1015,10,M,"15, October 21, 2015"
4087,2015-06-04 15:56:00,57.92,50,74.86,0,0,0.00,29.84,1010.6,10,M,"15, June 04, 2015"
6713,2015-09-14 11:56:00,59,55.04,86.69,0,0,0.00,29.72,1006.4,10,M,"11, September 14, 2015"
3800,2015-05-25 16:56:00,55.94,48.92,77.23,260,9,0.00,29.99,1015.5,10,M,"16, May 25, 2015"
7684,2015-10-22 12:56:00,55.04,51.08,86.47,270,3,0.00,29.93,1013.6,10,M,"12, October 22, 2015"
886,2015-02-03 15:56:00,53.96,53.06,96.76,130,5,0.00,30.11,1019.6,8,M,"15, February 03, 2015"
...,...,...,...,...,...,...,...,...,...,...,...,...
3869,2015-05-28 00:56:00,57.92,51.08,77.92,260,11,0.00,30.02,1016.5,10,M,"00, May 28, 2015"
389,2015-01-16 03:56:00,55.04,51.98,89.4,0,0,0.00,30.25,1024.1,6,M,"03, January 16, 2015"
6944,2015-09-23 14:56:00,57.02,51.08,80.49,0,0,0.00,30.02,1016.4,10,M,"14, September 23, 2015"
7953,2015-11-01 21:56:00,69.08,57.92,67.59,270,8,0.00,30.09,1018.9,10,M,"21, November 01, 2015"
1867,2015-03-13 03:56:00,60.08,55.04,83.41,280,9,0.00,30.15,1021,10,M,"03, March 13, 2015"
3881,2015-05-28 12:56:00,53.06,48.92,85.78,260,12,0.00,30.04,1017.1,10,16,"12, May 28, 2015"
9296,2015-12-22 07:33:00,59,55.04,86.69,250,19,0.07,29.88,M,4,27,"07, December 22, 2015"
1395,2015-02-22 18:56:00,60.08,35.96,40.43,350,11,0.00,29.88,1011.9,10,M,"18, February 22, 2015"
8468,2015-11-22 04:56:00,59,48.92,69.17,0,0,0.00,30.03,1016.9,10,M,"04, November 22, 2015"
8374,2015-11-18 08:56:00,55.04,48.92,79.8,300,5,0.00,30.27,1024.8,10,M,"08, November 18, 2015"
1421,2015-02-23 20:56:00,60.98,33.08,34.91,30,12,0.00,30.06,1018,10,M,"20, February 23, 2015"
7860,2015-10-28 23:56:00,62.96,55.94,77.83,280,21,0.00,30.02,1016.5,10,M,"23, October 28, 2015"
4655,2015-06-27 03:56:00,60.98,53.96,77.66,300,11,0.00,29.93,1013.4,10,M,"03, June 27, 2015"
815,2015-01-31 19:56:00,71.06,28.04,20.05,0,0,0.00,29.98,1015,10,M,"19, January 31, 2015"
2924,2015-04-23 15:56:00,55.94,48.02,74.67,180,6,0.00,29.9,1012.4,8,M,"15, April 23, 2015"
9124,2015-12-16 12:56:00,39.02,28.94,66.85,0,0,0.00,30.22,1023.4,10,M,"12, December 16, 2015"
6811,2015-09-18 01:56:00,60.08,53.96,80.19,270,20,0.00,30,1015.7,10,M,"01, September 18, 2015"
1629,2015-03-03 22:30:00,62.6,50,63.38,280,13,0.00,30,M,10,M,"22, March 03, 2015"
1841,2015-03-12 01:56:00,62.06,53.06,72.33,250,9,0.00,30.18,1021.9,10,M,"01, March 12, 2015"
1260,2015-02-17 19:56:00,55.94,51.98,86.52,230,6,0.00,30.16,1021.2,9,M,"19, February 17, 2015"
1086,2015-02-10 17:56:00,57.02,53.06,86.58,20,5,0.00,30.22,1023.4,10,M,"17, February 10, 2015"
5442,2015-07-27 00:56:00,66.92,53.96,63.08,260,16,0.00,29.93,1013.4,10,23,"00, July 27, 2015"
8548,2015-11-25 00:56:00,51.08,39.92,65.48,280,10,0.00,29.92,1013.3,10,M,"00, November 25, 2015"
4212,2015-06-09 11:56:00,55.04,51.98,89.4,290,8,0.00,29.83,1009.9,10,M,"11, June 09, 2015"
4634,2015-06-26 07:56:00,60.98,53.96,77.66,280,5,0.00,29.9,1012.5,10,M,"07, June 26, 2015"
3966,2015-05-31 13:56:00,53.06,46.94,79.64,280,6,0.00,29.93,1013.5,10,M,"13, May 31, 2015"
6261,2015-08-27 14:56:00,64.04,55.94,74.94,290,8,0.00,30.06,1017.7,10,M,"14, August 27, 2015"
5601,2015-08-02 04:56:00,66.02,59,78.08,260,11,0.00,29.98,1015.1,10,M,"04, August 02, 2015"
8720,2015-12-02 03:56:00,51.98,37.94,58.62,0,0,0.00,30.2,1022.6,10,M,"03, December 02, 2015"
1505,2015-02-27 05:56:00,57.02,55.04,93.08,280,23,0.00,29.94,1013.8,10,29,"05, February 27, 2015"

In [191]:
mergedTable = pd.merge(flights_sfo, sfo, how='inner', on='TimestampYearToHour')
mergedTable[['Time','Timestamp', 'TimestampYearToHour']]

                      Time           Timestamp    TimestampYearToHour
0      2015-01-01 00:56:00 2015-01-01 00:20:00   00, January 01, 2015
1      2015-01-01 00:56:00 2015-01-01 00:25:00   00, January 01, 2015
2      2015-01-01 00:56:00 2015-01-01 00:30:00   00, January 01, 2015
3      2015-01-01 00:56:00 2015-01-01 00:48:00   00, January 01, 2015
4      2015-01-01 05:56:00 2015-01-01 05:31:00   05, January 01, 2015
5      2015-01-01 05:56:00 2015-01-01 05:55:00   05, January 01, 2015
6      2015-01-01 06:56:00 2015-01-01 06:00:00   06, January 01, 2015
7      2015-01-01 06:56:00 2015-01-01 06:00:00   06, January 01, 2015
8      2015-01-01 06:56:00 2015-01-01 06:00:00   06, January 01, 2015
9      2015-01-01 06:56:00 2015-01-01 06:00:00   06, January 01, 2015
10     2015-01-01 06:56:00 2015-01-01 06:00:00   06, January 01, 2015
11     2015-01-01 06:56:00 2015-01-01 06:00:00   06, January 01, 2015
12     2015-01-01 06:56:00 2015-01-01 06:01:00   06, January 01, 2015
13     2015-01-01 06:56:00 2015-01-01 06:05:00   06, January 01, 2015
14     2015-01-01 06:56:00 2015-01-01 06:05:00   06, January 01, 2015
15     2015-01-01 06:56:00 2015-01-01 06:06:00   06, January 01, 2015
16     2015-01-01 06:56:00 2015-01-01 06:15:00   06, January 01, 2015
17     2015-01-01 06:56:00 2015-01-01 06:30:00   06, January 01, 2015
18     2015-01-01 06:56:00 2015-01-01 06:30:00   06, January 01, 2015
19     2015-01-01 06:56:00 2015-01-01 06:30:00   06, January 01, 2015
20     2015-01-01 06:56:00 2015-01-01 06:40:00   06, January 01, 2015
21     2015-01-01 06:56:00 2015-01-01 06:45:00   06, January 01, 2015
22     2015-01-01 06:56:00 2015-01-01 06:55:00   06, January 01, 2015
23     2015-01-01 07:56:00 2015-01-01 07:00:00   07, January 01, 2015
24     2015-01-01 07:56:00 2015-01-01 07:00:00   07, January 01, 2015
25     2015-01-01 07:56:00 2015-01-01 07:00:00   07, January 01, 2015
26     2015-01-01 07:56:00 2015-01-01 07:00:00   07, January 01, 2015
27     2015-01-01 07:56:00 2015-01-01 07:00:00   07, January 01, 2015
28     2015-01-01 07:56:00 2015-01-01 07:04:00   07, January 01, 2015
29     2015-01-01 07:56:00 2015-01-01 07:05:00   07, January 01, 2015
...                    ...                 ...                    ...
147285 2015-12-30 22:33:00 2015-12-30 22:45:00  22, December 30, 2015
147286 2015-12-30 22:33:00 2015-12-30 22:45:00  22, December 30, 2015
147287 2015-12-30 22:33:00 2015-12-30 22:46:00  22, December 30, 2015
147288 2015-12-30 22:33:00 2015-12-30 22:47:00  22, December 30, 2015
147289 2015-12-30 22:33:00 2015-12-30 22:49:00  22, December 30, 2015
147290 2015-12-30 22:33:00 2015-12-30 22:50:00  22, December 30, 2015
147291 2015-12-30 22:33:00 2015-12-30 22:52:00  22, December 30, 2015
147292 2015-12-30 22:33:00 2015-12-30 22:53:00  22, December 30, 2015
147293 2015-12-30 22:33:00 2015-12-30 22:55:00  22, December 30, 2015
147294 2015-12-30 22:33:00 2015-12-30 22:55:00  22, December 30, 2015
147295 2015-12-30 22:33:00 2015-12-30 22:59:00  22, December 30, 2015
147296 2015-12-30 23:56:00 2015-12-30 23:00:00  23, December 30, 2015
147297 2015-12-30 23:56:00 2015-12-30 23:00:00  23, December 30, 2015
147298 2015-12-30 23:56:00 2015-12-30 23:01:00  23, December 30, 2015
147299 2015-12-30 23:56:00 2015-12-30 23:03:00  23, December 30, 2015
147300 2015-12-30 23:56:00 2015-12-30 23:04:00  23, December 30, 2015
147301 2015-12-30 23:56:00 2015-12-30 23:04:00  23, December 30, 2015
147302 2015-12-30 23:56:00 2015-12-30 23:05:00  23, December 30, 2015
147303 2015-12-30 23:56:00 2015-12-30 23:05:00  23, December 30, 2015
147304 2015-12-30 23:56:00 2015-12-30 23:08:00  23, December 30, 2015
147305 2015-12-30 23:56:00 2015-12-30 23:11:00  23, December 30, 2015
147306 2015-12-30 23:56:00 2015-12-30 23:15:00  23, December 30, 2015
147307 2015-12-30 23:56:00 2015-12-30 23:15:00  23, December 30, 2015
147308 2015-12-30 23:56:00 2015-12-30 23:25:00  23, December 30, 2015
147309 2015-12-30 23:56:00 2015-12-30 23:30:00  23, December 30, 2015
147310 2015-12-30 23:56:00 2015-12-30 23:45:00  23, December 30, 2015
147311 2015-12-30 23:56:00 2015-12-30 23:49:00  23, December 30, 2015
147312 2015-12-30 23:56:00 2015-12-30 23:50:00  23, December 30, 2015
147313 2015-12-30 23:56:00 2015-12-30 23:54:00  23, December 30, 2015
147314 2015-12-30 23:56:00 2015-12-30 23:59:00  23, December 30, 2015

[147315 rows x 3 columns]

In [192]:
mergedTable.drop(['Time', 'TimestampYearToHour'], axis=1, inplace=True)

In [193]:
mergedTable.head(10)

,AIRLINE,DEPARTURE_DELAY,Mon,Tue,Wed,Thu,Fri,Sat,Timestamp,AirTemperature,DewPointTemperature,RelativeHumidity,WindDirection,WindSpeed,PrecipitationPerHour,PressureAltimeter,SeaLevelPressure,Visibility,WindGust
0,US,0,0,0,0,1,0,0,2015-01-01 00:20:00,53.06,32,44.48,280,7,0.0,30.09,1018.9,10,M
1,DL,0,0,0,0,1,0,0,2015-01-01 00:25:00,53.06,32,44.48,280,7,0.0,30.09,1018.9,10,M
2,AA,0,0,0,0,1,0,0,2015-01-01 00:30:00,53.06,32,44.48,280,7,0.0,30.09,1018.9,10,M
3,UA,0,0,0,0,1,0,0,2015-01-01 00:48:00,53.06,32,44.48,280,7,0.0,30.09,1018.9,10,M
4,UA,1,0,0,0,1,0,0,2015-01-01 05:31:00,44.96,35.96,70.52,150,4,0.0,30.08,1018.7,10,M
5,WN,0,0,0,0,1,0,0,2015-01-01 05:55:00,44.96,35.96,70.52,150,4,0.0,30.08,1018.7,10,M
6,WN,0,0,0,0,1,0,0,2015-01-01 06:00:00,44.96,28.94,53.17,0,0,0.0,30.08,1018.6,10,M
7,UA,0,0,0,0,1,0,0,2015-01-01 06:00:00,44.96,28.94,53.17,0,0,0.0,30.08,1018.6,10,M
8,UA,1,0,0,0,1,0,0,2015-01-01 06:00:00,44.96,28.94,53.17,0,0,0.0,30.08,1018.6,10,M
9,US,0,0,0,0,1,0,0,2015-01-01 06:00:00,44.96,28.94,53.17,0,0,0.0,30.08,1018.6,10,M

In [195]:
missing_df = mergedTable.isnull().sum(axis=0).reset_index()
missing_df.columns = ['variable', 'missing values']
missing_df['filling factor (%)']=(sfo.shape[0]-missing_df['missing values'])/sfo.shape[0]*100
missing_df.sort_values('filling factor (%)').reset_index(drop = True)

                variable  missing values  filling factor (%)
0                AIRLINE               0               100.0
1       SeaLevelPressure               0               100.0
2      PressureAltimeter               0               100.0
3   PrecipitationPerHour               0               100.0
4              WindSpeed               0               100.0
5          WindDirection               0               100.0
6       RelativeHumidity               0               100.0
7    DewPointTemperature               0               100.0
8             Visibility               0               100.0
9         AirTemperature               0               100.0
10                   Sat               0               100.0
11                   Fri               0               100.0
12                   Thu               0               100.0
13                   Wed               0               100.0
14                   Tue               0               100.0
15                   Mon               0               100.0
16       DEPARTURE_DELAY               0               100.0
17             Timestamp               0               100.0
18              WindGust               0               100.0