In [1]:
import pandas as pd
import numpy as np
%matplotlib inline
import matplotlib.pyplot as plt 
from sklearn import preprocessing
from sklearn import metrics
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split, cross_val_score, cross_val_predict

In [2]:
dfFlight = pd.read_csv('FlightDelayWithWeather.csv')

In [3]:
dfFlight.head()

,DEPARTURE_DELAY,Mon,Tue,Wed,Thu,Fri,Sat,AA,AS,B6,...,VX,Air_Temperature,Dew_Point_Temperature,Relative_Humidity,Wind_Direction,Wind_Speed,Precipitation_Per_Hour,Pressure_Altimeter,Sea_Level_Pressure,Visibility
0,0,0,0,0,1,0,0,0,0,0,...,0,53.06,32.00,44.48,280.0,7.0,0.0,30.09,1018.9,10.0
1,0,0,0,0,1,0,0,0,0,0,...,0,53.06,32.00,44.48,280.0,7.0,0.0,30.09,1018.9,10.0
2,0,0,0,0,1,0,0,1,0,0,...,0,53.06,32.00,44.48,280.0,7.0,0.0,30.09,1018.9,10.0
3,0,0,0,0,1,0,0,0,0,0,...,0,53.06,32.00,44.48,280.0,7.0,0.0,30.09,1018.9,10.0
4,1,0,0,0,1,0,0,0,0,0,...,0,44.96,35.96,70.52,150.0,4.0,0.0,30.08,1018.7,10.0

In [4]:
X = np.array(dfFlight.drop(['DEPARTURE_DELAY'], axis = 1).values)
Y = np.array(dfFlight['DEPARTURE_DELAY'])

X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2)

print(X_train.shape)
print(X_test.shape)
print(Y_train.shape)
print(Y_test.shape)

(110452, 25)
(27614, 25)
(110452,)
(27614,)

In [5]:
def normalizer(data):
    min_max_scaler = preprocessing.MinMaxScaler()
    np_scaled = min_max_scaler.fit_transform(data)
    df_normalized = pd.DataFrame(np_scaled)
    return df_normalized

In [6]:
X_train = normalizer(X_train)
X_train.head()

,0,1,2,3,4,5,6,7,8,9,...,15,16,17,18,19,20,21,22,23,24
0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.351266,0.659836,0.798235,0.666667,0.18750,0.0,0.386667,0.392157,1.0
1,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.139241,0.319672,0.682685,0.777778,0.15625,0.0,0.586667,0.588235,1.0
2,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.386076,0.729508,0.839971,0.777778,0.31250,0.0,0.280000,0.274510,1.0
3,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,...,0.0,0.401899,0.750000,0.840568,0.777778,0.15625,0.0,0.080000,0.078431,1.0
4,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.439873,0.729508,0.732769,0.833333,0.25000,0.0,0.386667,0.384314,1.0

In [7]:
X_test = normalizer(X_test)
X_test.head()

,0,1,2,3,4,5,6,7,8,9,...,15,16,17,18,19,20,21,22,23,24
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.316456,0.729508,1.000000,0.777778,0.290323,0.0,0.426667,0.427451,0.898785
1,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.401899,0.774590,0.882065,0.111111,0.096774,0.0,0.320000,0.317647,0.392713
2,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.439873,0.729508,0.732769,0.722222,0.193548,0.0,0.466667,0.470588,1.000000
3,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.316456,0.684426,0.916051,0.694444,0.096774,0.0,0.560000,0.564706,1.000000
4,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.297468,0.569672,0.762700,0.694444,0.290323,0.0,0.413333,0.411765,1.000000

In [8]:
def calc_score(X, Y, _penalty, _solver, _multi_class):
    clf = LogisticRegression(penalty = _penalty, solver = _solver, multi_class = _multi_class)
    score = np.mean(cross_val_score(clf, X, Y,cv = 10))
    return score

In [9]:
score = calc_score(X_train, Y_train, 'l2', 'liblinear', 'ovr')
score

0.6205772569856608

In [10]:
score = calc_score(X_train, Y_train, 'l1', 'liblinear', 'ovr')
score

0.6206225115838397

In [12]:
score = calc_score(X_train, Y_train, 'l2', 'sag', 'multinomial')
score

0.6204414571245278

In [14]:
clf = LogisticRegression()
predicted = cross_val_predict(clf, X_train, Y_train, cv=10)
print(metrics.accuracy_score(Y_train, predicted))

0.6205772643320175